In [252]:
import pandas as pd  
import numpy as np

import matplotlib.pyplot as plt 
import seaborn as sns

import requests
import json
from bs4 import BeautifulSoup
from requests.auth import HTTPBasicAuth #authentication code
from getpass import getpass

import time

## Kaagle Dataset - The Academy awards (1927-2015)

In [2]:
#import oscars dataset file
#1927-2015

oscars = pd.read_csv('database.csv', low_memory=False)
oscars.head()

        Year  Ceremony    Award  Winner                 Name              Film
0  1927/1928         1    Actor     NaN  Richard Barthelmess         The Noose
1  1927/1928         1    Actor     1.0        Emil Jannings  The Last Command
2  1927/1928         1  Actress     NaN       Louise Dresser   A Ship Comes In
3  1927/1928         1  Actress     1.0         Janet Gaynor        7th Heaven
4  1927/1928         1  Actress     NaN       Gloria Swanson    Sadie Thompson

This database itself doesn't tell a lot

In [3]:
oscars['Award'].unique()

array(['Actor', 'Actress', 'Art Direction', 'Cinematography',
       'Directing (Comedy Picture)', 'Directing (Dramatic Picture)',
       'Engineering Effects', 'Outstanding Picture',
       'Unique and Artistic Picture', 'Writing (Adaptation)',
       'Writing (Original Story)', 'Writing (Title Writing)',
       'Special Award', 'Directing', 'Writing', 'Outstanding Production',
       'Sound Recording', 'Short Subject (Cartoon)',
       'Short Subject (Comedy)', 'Short Subject (Novelty)',
       'Assistant Director', 'Film Editing', 'Music (Scoring)',
       'Music (Song)', 'Dance Direction', 'Writing (Screenplay)',
       'Actor in a Supporting Role', 'Actress in a Supporting Role',
       'Short Subject (Color)', 'Short Subject (One Reel)',
       'Short Subject (Two Reel)', 'Irving G. Thalberg Memorial Award',
       'Music (Original Score)', 'Cinematography (Black and White)',
       'Cinematography (Color)', 'Special Effects',
       'Art Direction (Black and White)', 'Art Direction (Color)',
       'Writing (Original Screenplay)', 'Documentary (Short Subject)',
       'Music (Music Score of a Dramatic Picture)',
       'Music (Scoring of a Musical Picture)',
       'Outstanding Motion Picture', 'Documentary',
       'Music (Music Score of a Dramatic or Comedy Picture)',
       'Writing (Original Motion Picture Story)', 'Documentary (Feature)',
       'Best Motion Picture', 'Writing (Motion Picture Story)',
       'Costume Design (Black and White)', 'Costume Design (Color)',
       'Special Foreign Language Film Award',
       'Writing (Story and Screenplay)',
       'Honorary Foreign Language Film Award', 'Honorary Award',
       'Foreign Language Film', 'Writing (Screenplay, Adapted)',
       'Writing (Screenplay, Original)',
       'Jean Hersholt Humanitarian Award', 'Costume Design',
       'Short Subject (Live Action)',
       'Writing (Screenplay, Based on Material from Another Medium)',
       'Writing (Story and Screenplay, Written Directly for the Screen)',
       'Sound', 'Music (Music Score, Substantially Original)',
       'Music (Scoring of Music, Adaptation or Treatment)',
       'Best Picture', 'Sound Effects', 'Special Visual Effects',
       'Music (Original Music Score)',
       'Music (Original Score, for a Motion Picture [Not a Musical])',
       'Music (Score of a Musical Picture, Original or Adaptation)',
       'Music (Song, Original for the Picture)',
       'Writing (Story and Screenplay, Based on Material Not Previously Published or Produced)',
       'Music (Original Song Score)',
       'Writing (Story and Screenplay, Based on Factual Material or Material Not Previously Published or Produced)',
       'Music (Original Dramatic Score)',
       'Music (Scoring: Adaptation and Original Song Score)',
       'Short Subject (Animated)',
       'Special Achievement Award (Visual Effects)',
       'Music (Scoring: Original Song Score and Adaptation -Or- Scoring: Adaptation)',
       'Short Film (Animated)', 'Short Film (Live Action)',
       'Writing (Screenplay Adapted from Other Material)',
       'Music (Original Song)',
       'Special Achievement Award (Sound Effects)',
       'Actor in a Leading Role', 'Actress in a Leading Role',
       'Music (Original Song Score and Its Adaptation or Adaptation Score)',
       'Writing (Screenplay Written Directly for the Screen, Based on Factual Material or on Story Material Not Previously Published or Produced)',
       'Visual Effects', 'Special Achievement Award',
       'Special Achievement Award (Sound Effects Editing)',
       'Medal of Commendation', 'Music (Adaptation Score)',
       'Writing (Screenplay Based on Material from Another Medium)',
       'Writing (Screenplay Written Directly for the Screen)',
       'Music (Original Song Score and Its Adaptation -Or- Adaptation Score)',
       'Special Achievement Award (Sound Editing)',
       'Short Film (Dramatic Live Action)', 'Makeup',
       'Gordon E. Sawyer Award', 'Sound Effects Editing',
       'Music (Original Song Score or Adaptation Score)',
       'Award of Commendation',
       'Writing (Screenplay Based on Material Previously Produced or Published)',
       'Music (Original Musical or Comedy Score)',
       'John A. Bonner Medal of Commendation', 'Sound Editing',
       'Animated Feature Film', 'Writing (Adapted Screenplay)',
       'Sound Mixing', 'Makeup and Hairstyling', 'Production Design'],
      dtype=object)

In [101]:
#For now I'd like to analyse the Best Picture award aka 'Outstanding Picture'
#from 1962, before that it was called 'Best Motion Picture'
#i've decided to use from 1962 - making it a threshold - previous to that very few movie reviews
oscars = oscars[(oscars['Award']=='Best Picture')]
oscars

,Year,Ceremony,Award,Winner,title,Film
3924,1962,35,Best Picture,1.0,Lawrence of Arabia,"Sam Spiegel, Producer"
3925,1962,35,Best Picture,NaN,The Longest Day,"Darryl F. Zanuck, Producer"
3926,1962,35,Best Picture,NaN,Meredith Willson's The Music Man,"Morton Da Costa, Producer"
3927,1962,35,Best Picture,NaN,Mutiny on the Bounty,"Aaron Rosenberg, Producer"
3928,1962,35,Best Picture,NaN,To Kill a Mockingbird,"Alan J. Pakula, Producer"
...,...,...,...,...,...,...
9916,2015,88,Best Picture,NaN,Mad Max: Fury Road,"Doug Mitchell and George Miller, Producers"
9917,2015,88,Best Picture,NaN,The Martian,"Simon Kinberg, Ridley Scott, Michael Schaefer ..."
9918,2015,88,Best Picture,NaN,The Revenant,"Arnon Milchan, Steve Golin, Alejandro G. Iñárr..."
9919,2015,88,Best Picture,NaN,Room,"Ed Guiney, Producer"
9920,2015,88,Best Picture,1.0,Spotlight,"Michael Sugar, Steve Golin, Nicole Rocklin and..."

In [102]:
oscars = oscars.rename({'Name': 'title'}, axis=1)
oscars.head()

,Year,Ceremony,Award,Winner,title,Film
3924,1962,35,Best Picture,1.0,Lawrence of Arabia,"Sam Spiegel, Producer"
3925,1962,35,Best Picture,NaN,The Longest Day,"Darryl F. Zanuck, Producer"
3926,1962,35,Best Picture,NaN,Meredith Willson's The Music Man,"Morton Da Costa, Producer"
3927,1962,35,Best Picture,NaN,Mutiny on the Bounty,"Aaron Rosenberg, Producer"
3928,1962,35,Best Picture,NaN,To Kill a Mockingbird,"Alan J. Pakula, Producer"
...,...,...,...,...,...,...
9916,2015,88,Best Picture,NaN,Mad Max: Fury Road,"Doug Mitchell and George Miller, Producers"
9917,2015,88,Best Picture,NaN,The Martian,"Simon Kinberg, Ridley Scott, Michael Schaefer ..."
9918,2015,88,Best Picture,NaN,The Revenant,"Arnon Milchan, Steve Golin, Alejandro G. Iñárr..."
9919,2015,88,Best Picture,NaN,Room,"Ed Guiney, Producer"
9920,2015,88,Best Picture,1.0,Spotlight,"Michael Sugar, Steve Golin, Nicole Rocklin and..."

In [137]:
oscars['title_year']= oscars['title'].str.strip() + " " + oscars['Year']
oscars.head()

,Year,Ceremony,Award,Winner,title,Film,title_year
3924,1962,35,Best Picture,1.0,Lawrence of Arabia,"Sam Spiegel, Producer",Lawrence of Arabia 1962
3925,1962,35,Best Picture,NaN,The Longest Day,"Darryl F. Zanuck, Producer",The Longest Day 1962
3926,1962,35,Best Picture,NaN,Meredith Willson's The Music Man,"Morton Da Costa, Producer",Meredith Willson's The Music Man 1962
3927,1962,35,Best Picture,NaN,Mutiny on the Bounty,"Aaron Rosenberg, Producer",Mutiny on the Bounty 1962
3928,1962,35,Best Picture,NaN,To Kill a Mockingbird,"Alan J. Pakula, Producer",To Kill a Mockingbird 1962
...,...,...,...,...,...,...,...
9916,2015,88,Best Picture,NaN,Mad Max: Fury Road,"Doug Mitchell and George Miller, Producers",Mad Max: Fury Road 2015
9917,2015,88,Best Picture,NaN,The Martian,"Simon Kinberg, Ridley Scott, Michael Schaefer ...",The Martian 2015
9918,2015,88,Best Picture,NaN,The Revenant,"Arnon Milchan, Steve Golin, Alejandro G. Iñárr...",The Revenant 2015
9919,2015,88,Best Picture,NaN,Room,"Ed Guiney, Producer",Room 2015
9920,2015,88,Best Picture,1.0,Spotlight,"Michael Sugar, Steve Golin, Nicole Rocklin and...",Spotlight 2015

In [103]:
#get names to search API

list_tiles = list(oscars['title'])
print(list_tiles)

['Lawrence of Arabia ', 'The Longest Day ', "Meredith Willson's The Music Man ", 'Mutiny on the Bounty ', 'To Kill a Mockingbird ', 'America America ', 'Cleopatra ', 'How the West Was Won ', 'Lilies of the Field ', 'Tom Jones ', 'Becket ', 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb ', 'Mary Poppins ', 'My Fair Lady ', 'Zorba the Greek ', 'Darling ', 'Doctor Zhivago ', 'Ship of Fools ', 'The Sound of Music ', 'A Thousand Clowns ', 'Alfie ', 'A Man for All Seasons ', 'The Russians Are Coming The Russians Are Coming ', 'The Sand Pebbles ', "Who's Afraid of Virginia Woolf? ", 'Bonnie and Clyde ', 'Doctor Dolittle ', 'The Graduate ', "Guess Who's Coming to Dinner ", 'In the Heat of the Night ', 'Funny Girl ', 'The Lion in Winter ', 'Oliver! ', 'Rachel, Rachel ', 'Romeo and Juliet ', 'Anne of the Thousand Days ', 'Butch Cassidy and the Sundance Kid ', 'Hello, Dolly! ', 'Midnight Cowboy ', 'Z ', 'Airport ', 'Five Easy Pieces ', 'Love Story ', 'MA*S*H ', 'Patton ', 'A Clockwork Orange ', 'Fiddler on the Roof ', 'The French Connection ', 'The Last Picture Show ', 'Nicholas and Alexandra ', 'Cabaret ', 'Deliverance ', 'The Emigrants ', 'The Godfather ', 'Sounder ', 'American Graffiti ', 'Cries and Whispers ', 'The Exorcist ', 'The Sting ', 'A Touch of Class ', 'Chinatown ', 'The Conversation ', 'The Godfather Part II ', 'Lenny ', 'The Towering Inferno ', 'Barry Lyndon ', 'Dog Day Afternoon ', 'Jaws ', 'Nashville ', "One Flew over the Cuckoo's Nest ", "All the President's Men ", 'Bound for Glory ', 'Network ', 'Rocky ', 'Taxi Driver ', 'Annie Hall ', 'The Goodbye Girl ', 'Julia ', 'Star Wars ', 'The Turning Point ', 'Coming Home ', 'The Deer Hunter ', 'Heaven Can Wait ', 'Midnight Express ', 'An Unmarried Woman ', 'All That Jazz ', 'Apocalypse Now ', 'Breaking Away ', 'Kramer vs. Kramer ', 'Norma Rae ', "Coal Miner's Daughter ", 'The Elephant Man ', 'Ordinary People ', 'Raging Bull ', 'Tess ', 'Atlantic City ', 'Chariots of Fire ', 'On Golden Pond ', 'Raiders of the Lost Ark ', 'Reds ', 'E.T. The Extra-Terrestrial ', 'Gandhi ', 'Missing ', 'Tootsie ', 'The Verdict ', 'The Big Chill ', 'The Dresser ', 'The Right Stuff ', 'Tender Mercies ', 'Terms of Endearment ', 'Amadeus ', 'The Killing Fields ', 'A Passage to India ', 'Places in the Heart ', "A Soldier's Story ", 'The Color Purple ', 'Kiss of the Spider Woman ', 'Out of Africa ', "Prizzi's Honor ", 'Witness ', 'Children of a Lesser God ', 'Hannah and Her Sisters ', 'The Mission ', 'Platoon ', 'A Room with a View ', 'Broadcast News ', 'Fatal Attraction ', 'Hope and Glory ', 'The Last Emperor ', 'Moonstruck ', 'The Accidental Tourist ', 'Dangerous Liaisons ', 'Mississippi Burning ', 'Rain Man ', 'Working Girl ', 'Born on the Fourth of July ', 'Dead Poets Society ', 'Driving Miss Daisy ', 'Field of Dreams ', 'My Left Foot ', 'Awakenings ', 'Dances With Wolves ', 'Ghost ', 'The Godfather, Part III ', 'Good Fellas ', 'Beauty and the Beast ', 'Bugsy ', 'JFK ', 'The Prince of Tides ', 'The Silence of the Lambs ', 'The Crying Game ', 'A Few Good Men ', 'Howards End ', 'Scent of a Woman ', 'Unforgiven ', 'The Fugitive ', 'In the Name of the Father ', 'The Piano ', 'The Remains of the Day ', "Schindler's List ", 'Forrest Gump ', 'Four Weddings and a Funeral ', 'Pulp Fiction ', 'Quiz Show ', 'The Shawshank Redemption ', 'Apollo 13 ', 'Babe ', 'Braveheart ', 'The Postman (Il Postino) ', 'Sense and Sensibility ', 'The English Patient ', 'Fargo ', 'Jerry Maguire ', 'Secrets & Lies ', 'Shine ', 'As Good as It Gets ', 'The Full Monty ', 'Good Will Hunting ', 'L.A. Confidential ', 'Titanic ', 'Elizabeth ', 'Life Is Beautiful ', 'Saving Private Ryan ', 'Shakespeare in Love ', 'The Thin Red Line ', 'American Beauty ', 'The Cider House Rules ', 'The Green Mile ', 'The Insider ', 'The Sixth Sense ', 'Chocolat ', 'Crouching Tiger, Hidden Dragon ', 'Erin Brockovich ', 'Gladiator ', 'Traffic ', 'A Beautiful Mind ', 'Gosford Park ', 'In the Bedroom ', 'The Lord of the Rings: The Fellowship of the Ring ', 'Moulin Rouge ', 'Chicago ', 'Gangs of New York ', 'The Hours ', 'The Lord of the Rings: The Two Towers ', 'The Pianist ', 'The Lord of the Rings: The Return of the King ', 'Lost in Translation ', 'Master and Commander: The Far Side of the World ', 'Mystic River ', 'Seabiscuit ', 'The Aviator ', 'Finding Neverland ', 'Million Dollar Baby ', 'Ray ', 'Sideways ', 'Brokeback Mountain ', 'Capote ', 'Crash ', 'Good Night, and Good Luck. ', 'Munich ', 'Babel ', 'The Departed ', 'Letters from Iwo Jima ', 'Little Miss Sunshine ', 'The Queen ', 'Atonement ', 'Juno ', 'Michael Clayton ', 'No Country for Old Men ', 'There Will Be Blood ', 'The Curious Case of Benjamin Button ', 'Frost/Nixon ', 'Milk ', 'The Reader ', 'Slumdog Millionaire ', 'Avatar ', 'The Blind Side ', 'District 9 ', 'An Education ', 'The Hurt Locker ', 'Inglourious Basterds ', "Precious: Based on the Novel 'Push' by Sapphire ", 'A Serious Man ', 'Up ', 'Up in the Air ', 'Black Swan ', 'The Fighter ', 'Inception ', 'The Kids Are All Right ', "The King's Speech ", '127 Hours ', 'The Social Network ', 'Toy Story 3 ', 'True Grit ', "Winter's Bone ", 'The Artist ', 'The Descendants ', 'Extremely Loud & Incredibly Close ', 'The Help ', 'Hugo ', 'Midnight in Paris ', 'Moneyball ', 'The Tree of Life ', 'War Horse ', 'Amour ', 'Argo ', 'Beasts of the Southern Wild ', 'Django Unchained ', 'Les Misérables ', 'Life of Pi ', 'Lincoln ', 'Silver Linings Playbook ', 'Zero Dark Thirty ', 'American Hustle ', 'Captain Phillips ', 'Dallas Buyers Club ', 'Gravity ', 'Her ', 'Nebraska ', 'Philomena ', '12 Years a Slave ', 'The Wolf of Wall Street ', 'American Sniper ', 'Birdman or (The Unexpected Virtue of Ignorance) ', 'Boyhood ', 'The Grand Budapest Hotel ', 'The Imitation Game ', 'Selma ', 'The Theory of Everything ', 'Whiplash ', 'The Big Short', 'Bridge of Spies', 'Brooklyn', 'Mad Max: Fury Road', 'The Martian', 'The Revenant', 'Room', 'Spotlight']

In [104]:
list_titles2 =[]
for element in list_tiles:
    list_titles2.append(element.strip())
print(list_titles2)

['Lawrence of Arabia', 'The Longest Day', "Meredith Willson's The Music Man", 'Mutiny on the Bounty', 'To Kill a Mockingbird', 'America America', 'Cleopatra', 'How the West Was Won', 'Lilies of the Field', 'Tom Jones', 'Becket', 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb', 'Mary Poppins', 'My Fair Lady', 'Zorba the Greek', 'Darling', 'Doctor Zhivago', 'Ship of Fools', 'The Sound of Music', 'A Thousand Clowns', 'Alfie', 'A Man for All Seasons', 'The Russians Are Coming The Russians Are Coming', 'The Sand Pebbles', "Who's Afraid of Virginia Woolf?", 'Bonnie and Clyde', 'Doctor Dolittle', 'The Graduate', "Guess Who's Coming to Dinner", 'In the Heat of the Night', 'Funny Girl', 'The Lion in Winter', 'Oliver!', 'Rachel, Rachel', 'Romeo and Juliet', 'Anne of the Thousand Days', 'Butch Cassidy and the Sundance Kid', 'Hello, Dolly!', 'Midnight Cowboy', 'Z', 'Airport', 'Five Easy Pieces', 'Love Story', 'MA*S*H', 'Patton', 'A Clockwork Orange', 'Fiddler on the Roof', 'The French Connection', 'The Last Picture Show', 'Nicholas and Alexandra', 'Cabaret', 'Deliverance', 'The Emigrants', 'The Godfather', 'Sounder', 'American Graffiti', 'Cries and Whispers', 'The Exorcist', 'The Sting', 'A Touch of Class', 'Chinatown', 'The Conversation', 'The Godfather Part II', 'Lenny', 'The Towering Inferno', 'Barry Lyndon', 'Dog Day Afternoon', 'Jaws', 'Nashville', "One Flew over the Cuckoo's Nest", "All the President's Men", 'Bound for Glory', 'Network', 'Rocky', 'Taxi Driver', 'Annie Hall', 'The Goodbye Girl', 'Julia', 'Star Wars', 'The Turning Point', 'Coming Home', 'The Deer Hunter', 'Heaven Can Wait', 'Midnight Express', 'An Unmarried Woman', 'All That Jazz', 'Apocalypse Now', 'Breaking Away', 'Kramer vs. Kramer', 'Norma Rae', "Coal Miner's Daughter", 'The Elephant Man', 'Ordinary People', 'Raging Bull', 'Tess', 'Atlantic City', 'Chariots of Fire', 'On Golden Pond', 'Raiders of the Lost Ark', 'Reds', 'E.T. The Extra-Terrestrial', 'Gandhi', 'Missing', 'Tootsie', 'The Verdict', 'The Big Chill', 'The Dresser', 'The Right Stuff', 'Tender Mercies', 'Terms of Endearment', 'Amadeus', 'The Killing Fields', 'A Passage to India', 'Places in the Heart', "A Soldier's Story", 'The Color Purple', 'Kiss of the Spider Woman', 'Out of Africa', "Prizzi's Honor", 'Witness', 'Children of a Lesser God', 'Hannah and Her Sisters', 'The Mission', 'Platoon', 'A Room with a View', 'Broadcast News', 'Fatal Attraction', 'Hope and Glory', 'The Last Emperor', 'Moonstruck', 'The Accidental Tourist', 'Dangerous Liaisons', 'Mississippi Burning', 'Rain Man', 'Working Girl', 'Born on the Fourth of July', 'Dead Poets Society', 'Driving Miss Daisy', 'Field of Dreams', 'My Left Foot', 'Awakenings', 'Dances With Wolves', 'Ghost', 'The Godfather, Part III', 'Good Fellas', 'Beauty and the Beast', 'Bugsy', 'JFK', 'The Prince of Tides', 'The Silence of the Lambs', 'The Crying Game', 'A Few Good Men', 'Howards End', 'Scent of a Woman', 'Unforgiven', 'The Fugitive', 'In the Name of the Father', 'The Piano', 'The Remains of the Day', "Schindler's List", 'Forrest Gump', 'Four Weddings and a Funeral', 'Pulp Fiction', 'Quiz Show', 'The Shawshank Redemption', 'Apollo 13', 'Babe', 'Braveheart', 'The Postman (Il Postino)', 'Sense and Sensibility', 'The English Patient', 'Fargo', 'Jerry Maguire', 'Secrets & Lies', 'Shine', 'As Good as It Gets', 'The Full Monty', 'Good Will Hunting', 'L.A. Confidential', 'Titanic', 'Elizabeth', 'Life Is Beautiful', 'Saving Private Ryan', 'Shakespeare in Love', 'The Thin Red Line', 'American Beauty', 'The Cider House Rules', 'The Green Mile', 'The Insider', 'The Sixth Sense', 'Chocolat', 'Crouching Tiger, Hidden Dragon', 'Erin Brockovich', 'Gladiator', 'Traffic', 'A Beautiful Mind', 'Gosford Park', 'In the Bedroom', 'The Lord of the Rings: The Fellowship of the Ring', 'Moulin Rouge', 'Chicago', 'Gangs of New York', 'The Hours', 'The Lord of the Rings: The Two Towers', 'The Pianist', 'The Lord of the Rings: The Return of the King', 'Lost in Translation', 'Master and Commander: The Far Side of the World', 'Mystic River', 'Seabiscuit', 'The Aviator', 'Finding Neverland', 'Million Dollar Baby', 'Ray', 'Sideways', 'Brokeback Mountain', 'Capote', 'Crash', 'Good Night, and Good Luck.', 'Munich', 'Babel', 'The Departed', 'Letters from Iwo Jima', 'Little Miss Sunshine', 'The Queen', 'Atonement', 'Juno', 'Michael Clayton', 'No Country for Old Men', 'There Will Be Blood', 'The Curious Case of Benjamin Button', 'Frost/Nixon', 'Milk', 'The Reader', 'Slumdog Millionaire', 'Avatar', 'The Blind Side', 'District 9', 'An Education', 'The Hurt Locker', 'Inglourious Basterds', "Precious: Based on the Novel 'Push' by Sapphire", 'A Serious Man', 'Up', 'Up in the Air', 'Black Swan', 'The Fighter', 'Inception', 'The Kids Are All Right', "The King's Speech", '127 Hours', 'The Social Network', 'Toy Story 3', 'True Grit', "Winter's Bone", 'The Artist', 'The Descendants', 'Extremely Loud & Incredibly Close', 'The Help', 'Hugo', 'Midnight in Paris', 'Moneyball', 'The Tree of Life', 'War Horse', 'Amour', 'Argo', 'Beasts of the Southern Wild', 'Django Unchained', 'Les Misérables', 'Life of Pi', 'Lincoln', 'Silver Linings Playbook', 'Zero Dark Thirty', 'American Hustle', 'Captain Phillips', 'Dallas Buyers Club', 'Gravity', 'Her', 'Nebraska', 'Philomena', '12 Years a Slave', 'The Wolf of Wall Street', 'American Sniper', 'Birdman or (The Unexpected Virtue of Ignorance)', 'Boyhood', 'The Grand Budapest Hotel', 'The Imitation Game', 'Selma', 'The Theory of Everything', 'Whiplash', 'The Big Short', 'Bridge of Spies', 'Brooklyn', 'Mad Max: Fury Road', 'The Martian', 'The Revenant', 'Room', 'Spotlight']

In [105]:
print(len(list_titles2))

298

In [106]:
newlist =[]
for element in list_titles2:
    newlist.append(element.split(" "))
print(newlist)

[['Lawrence', 'of', 'Arabia'], ['The', 'Longest', 'Day'], ['Meredith', "Willson's", 'The', 'Music', 'Man'], ['Mutiny', 'on', 'the', 'Bounty'], ['To', 'Kill', 'a', 'Mockingbird'], ['America', 'America'], ['Cleopatra'], ['How', 'the', 'West', 'Was', 'Won'], ['Lilies', 'of', 'the', 'Field'], ['Tom', 'Jones'], ['Becket'], ['Dr.', 'Strangelove', 'or:', 'How', 'I', 'Learned', 'to', 'Stop', 'Worrying', 'and', 'Love', 'the', 'Bomb'], ['Mary', 'Poppins'], ['My', 'Fair', 'Lady'], ['Zorba', 'the', 'Greek'], ['Darling'], ['Doctor', 'Zhivago'], ['Ship', 'of', 'Fools'], ['The', 'Sound', 'of', 'Music'], ['A', 'Thousand', 'Clowns'], ['Alfie'], ['A', 'Man', 'for', 'All', 'Seasons'], ['The', 'Russians', 'Are', 'Coming', 'The', 'Russians', 'Are', 'Coming'], ['The', 'Sand', 'Pebbles'], ["Who's", 'Afraid', 'of', 'Virginia', 'Woolf?'], ['Bonnie', 'and', 'Clyde'], ['Doctor', 'Dolittle'], ['The', 'Graduate'], ['Guess', "Who's", 'Coming', 'to', 'Dinner'], ['In', 'the', 'Heat', 'of', 'the', 'Night'], ['Funny', 'Girl'], ['The', 'Lion', 'in', 'Winter'], ['Oliver!'], ['Rachel,', 'Rachel'], ['Romeo', 'and', 'Juliet'], ['Anne', 'of', 'the', 'Thousand', 'Days'], ['Butch', 'Cassidy', 'and', 'the', 'Sundance', 'Kid'], ['Hello,', 'Dolly!'], ['Midnight', 'Cowboy'], ['Z'], ['Airport'], ['Five', 'Easy', 'Pieces'], ['Love', 'Story'], ['MA*S*H'], ['Patton'], ['A', 'Clockwork', 'Orange'], ['Fiddler', 'on', 'the', 'Roof'], ['The', 'French', 'Connection'], ['The', 'Last', 'Picture', 'Show'], ['Nicholas', 'and', 'Alexandra'], ['Cabaret'], ['Deliverance'], ['The', 'Emigrants'], ['The', 'Godfather'], ['Sounder'], ['American', 'Graffiti'], ['Cries', 'and', 'Whispers'], ['The', 'Exorcist'], ['The', 'Sting'], ['A', 'Touch', 'of', 'Class'], ['Chinatown'], ['The', 'Conversation'], ['The', 'Godfather', 'Part', 'II'], ['Lenny'], ['The', 'Towering', 'Inferno'], ['Barry', 'Lyndon'], ['Dog', 'Day', 'Afternoon'], ['Jaws'], ['Nashville'], ['One', 'Flew', 'over', 'the', "Cuckoo's", 'Nest'], ['All', 'the', "President's", 'Men'], ['Bound', 'for', 'Glory'], ['Network'], ['Rocky'], ['Taxi', 'Driver'], ['Annie', 'Hall'], ['The', 'Goodbye', 'Girl'], ['Julia'], ['Star', 'Wars'], ['The', 'Turning', 'Point'], ['Coming', 'Home'], ['The', 'Deer', 'Hunter'], ['Heaven', 'Can', 'Wait'], ['Midnight', 'Express'], ['An', 'Unmarried', 'Woman'], ['All', 'That', 'Jazz'], ['Apocalypse', 'Now'], ['Breaking', 'Away'], ['Kramer', 'vs.', 'Kramer'], ['Norma', 'Rae'], ['Coal', "Miner's", 'Daughter'], ['The', 'Elephant', 'Man'], ['Ordinary', 'People'], ['Raging', 'Bull'], ['Tess'], ['Atlantic', 'City'], ['Chariots', 'of', 'Fire'], ['On', 'Golden', 'Pond'], ['Raiders', 'of', 'the', 'Lost', 'Ark'], ['Reds'], ['E.T.', 'The', 'Extra-Terrestrial'], ['Gandhi'], ['Missing'], ['Tootsie'], ['The', 'Verdict'], ['The', 'Big', 'Chill'], ['The', 'Dresser'], ['The', 'Right', 'Stuff'], ['Tender', 'Mercies'], ['Terms', 'of', 'Endearment'], ['Amadeus'], ['The', 'Killing', 'Fields'], ['A', 'Passage', 'to', 'India'], ['Places', 'in', 'the', 'Heart'], ['A', "Soldier's", 'Story'], ['The', 'Color', 'Purple'], ['Kiss', 'of', 'the', 'Spider', 'Woman'], ['Out', 'of', 'Africa'], ["Prizzi's", 'Honor'], ['Witness'], ['Children', 'of', 'a', 'Lesser', 'God'], ['Hannah', 'and', 'Her', 'Sisters'], ['The', 'Mission'], ['Platoon'], ['A', 'Room', 'with', 'a', 'View'], ['Broadcast', 'News'], ['Fatal', 'Attraction'], ['Hope', 'and', 'Glory'], ['The', 'Last', 'Emperor'], ['Moonstruck'], ['The', 'Accidental', 'Tourist'], ['Dangerous', 'Liaisons'], ['Mississippi', 'Burning'], ['Rain', 'Man'], ['Working', 'Girl'], ['Born', 'on', 'the', 'Fourth', 'of', 'July'], ['Dead', 'Poets', 'Society'], ['Driving', 'Miss', 'Daisy'], ['Field', 'of', 'Dreams'], ['My', 'Left', 'Foot'], ['Awakenings'], ['Dances', 'With', 'Wolves'], ['Ghost'], ['The', 'Godfather,', 'Part', 'III'], ['Good', 'Fellas'], ['Beauty', 'and', 'the', 'Beast'], ['Bugsy'], ['JFK'], ['The', 'Prince', 'of', 'Tides'], ['The', 'Silence', 'of', 'the', 'Lambs'], ['The', 'Crying', 'Game'], ['A', 'Few', 'Good', 'Men'], ['Howards', 'End'], ['Scent', 'of', 'a', 'Woman'], ['Unforgiven'], ['The', 'Fugitive'], ['In', 'the', 'Name', 'of', 'the', 'Father'], ['The', 'Piano'], ['The', 'Remains', 'of', 'the', 'Day'], ["Schindler's", 'List'], ['Forrest', 'Gump'], ['Four', 'Weddings', 'and', 'a', 'Funeral'], ['Pulp', 'Fiction'], ['Quiz', 'Show'], ['The', 'Shawshank', 'Redemption'], ['Apollo', '13'], ['Babe'], ['Braveheart'], ['The', 'Postman', '(Il', 'Postino)'], ['Sense', 'and', 'Sensibility'], ['The', 'English', 'Patient'], ['Fargo'], ['Jerry', 'Maguire'], ['Secrets', '&', 'Lies'], ['Shine'], ['As', 'Good', 'as', 'It', 'Gets'], ['The', 'Full', 'Monty'], ['Good', 'Will', 'Hunting'], ['L.A.', 'Confidential'], ['Titanic'], ['Elizabeth'], ['Life', 'Is', 'Beautiful'], ['Saving', 'Private', 'Ryan'], ['Shakespeare', 'in', 'Love'], ['The', 'Thin', 'Red', 'Line'], ['American', 'Beauty'], ['The', 'Cider', 'House', 'Rules'], ['The', 'Green', 'Mile'], ['The', 'Insider'], ['The', 'Sixth', 'Sense'], ['Chocolat'], ['Crouching', 'Tiger,', 'Hidden', 'Dragon'], ['Erin', 'Brockovich'], ['Gladiator'], ['Traffic'], ['A', 'Beautiful', 'Mind'], ['Gosford', 'Park'], ['In', 'the', 'Bedroom'], ['The', 'Lord', 'of', 'the', 'Rings:', 'The', 'Fellowship', 'of', 'the', 'Ring'], ['Moulin', 'Rouge'], ['Chicago'], ['Gangs', 'of', 'New', 'York'], ['The', 'Hours'], ['The', 'Lord', 'of', 'the', 'Rings:', 'The', 'Two', 'Towers'], ['The', 'Pianist'], ['The', 'Lord', 'of', 'the', 'Rings:', 'The', 'Return', 'of', 'the', 'King'], ['Lost', 'in', 'Translation'], ['Master', 'and', 'Commander:', 'The', 'Far', 'Side', 'of', 'the', 'World'], ['Mystic', 'River'], ['Seabiscuit'], ['The', 'Aviator'], ['Finding', 'Neverland'], ['Million', 'Dollar', 'Baby'], ['Ray'], ['Sideways'], ['Brokeback', 'Mountain'], ['Capote'], ['Crash'], ['Good', 'Night,', 'and', 'Good', 'Luck.'], ['Munich'], ['Babel'], ['The', 'Departed'], ['Letters', 'from', 'Iwo', 'Jima'], ['Little', 'Miss', 'Sunshine'], ['The', 'Queen'], ['Atonement'], ['Juno'], ['Michael', 'Clayton'], ['No', 'Country', 'for', 'Old', 'Men'], ['There', 'Will', 'Be', 'Blood'], ['The', 'Curious', 'Case', 'of', 'Benjamin', 'Button'], ['Frost/Nixon'], ['Milk'], ['The', 'Reader'], ['Slumdog', 'Millionaire'], ['Avatar'], ['The', 'Blind', 'Side'], ['District', '9'], ['An', 'Education'], ['The', 'Hurt', 'Locker'], ['Inglourious', 'Basterds'], ['Precious:', 'Based', 'on', 'the', 'Novel', "'Push'", 'by', 'Sapphire'], ['A', 'Serious', 'Man'], ['Up'], ['Up', 'in', 'the', 'Air'], ['Black', 'Swan'], ['The', 'Fighter'], ['Inception'], ['The', 'Kids', 'Are', 'All', 'Right'], ['The', "King's", 'Speech'], ['127', 'Hours'], ['The', 'Social', 'Network'], ['Toy', 'Story', '3'], ['True', 'Grit'], ["Winter's", 'Bone'], ['The', 'Artist'], ['The', 'Descendants'], ['Extremely', 'Loud', '&', 'Incredibly', 'Close'], ['The', 'Help'], ['Hugo'], ['Midnight', 'in', 'Paris'], ['Moneyball'], ['The', 'Tree', 'of', 'Life'], ['War', 'Horse'], ['Amour'], ['Argo'], ['Beasts', 'of', 'the', 'Southern', 'Wild'], ['Django', 'Unchained'], ['Les', 'Misérables'], ['Life', 'of', 'Pi'], ['Lincoln'], ['Silver', 'Linings', 'Playbook'], ['Zero', 'Dark', 'Thirty'], ['American', 'Hustle'], ['Captain', 'Phillips'], ['Dallas', 'Buyers', 'Club'], ['Gravity'], ['Her'], ['Nebraska'], ['Philomena'], ['12', 'Years', 'a', 'Slave'], ['The', 'Wolf', 'of', 'Wall', 'Street'], ['American', 'Sniper'], ['Birdman', 'or', '(The', 'Unexpected', 'Virtue', 'of', 'Ignorance)'], ['Boyhood'], ['The', 'Grand', 'Budapest', 'Hotel'], ['The', 'Imitation', 'Game'], ['Selma'], ['The', 'Theory', 'of', 'Everything'], ['Whiplash'], ['The', 'Big', 'Short'], ['Bridge', 'of', 'Spies'], ['Brooklyn'], ['Mad', 'Max:', 'Fury', 'Road'], ['The', 'Martian'], ['The', 'Revenant'], ['Room'], ['Spotlight']]

### The Movie Data Base

In [107]:
#play aroung with list above for API url
newlist2 =[]
for element in newlist:
    newlist2.append("+".join(element))
print(newlist2)

['Lawrence+of+Arabia', 'The+Longest+Day', "Meredith+Willson's+The+Music+Man", 'Mutiny+on+the+Bounty', 'To+Kill+a+Mockingbird', 'America+America', 'Cleopatra', 'How+the+West+Was+Won', 'Lilies+of+the+Field', 'Tom+Jones', 'Becket', 'Dr.+Strangelove+or:+How+I+Learned+to+Stop+Worrying+and+Love+the+Bomb', 'Mary+Poppins', 'My+Fair+Lady', 'Zorba+the+Greek', 'Darling', 'Doctor+Zhivago', 'Ship+of+Fools', 'The+Sound+of+Music', 'A+Thousand+Clowns', 'Alfie', 'A+Man+for+All+Seasons', 'The+Russians+Are+Coming+The+Russians+Are+Coming', 'The+Sand+Pebbles', "Who's+Afraid+of+Virginia+Woolf?", 'Bonnie+and+Clyde', 'Doctor+Dolittle', 'The+Graduate', "Guess+Who's+Coming+to+Dinner", 'In+the+Heat+of+the+Night', 'Funny+Girl', 'The+Lion+in+Winter', 'Oliver!', 'Rachel,+Rachel', 'Romeo+and+Juliet', 'Anne+of+the+Thousand+Days', 'Butch+Cassidy+and+the+Sundance+Kid', 'Hello,+Dolly!', 'Midnight+Cowboy', 'Z', 'Airport', 'Five+Easy+Pieces', 'Love+Story', 'MA*S*H', 'Patton', 'A+Clockwork+Orange', 'Fiddler+on+the+Roof', 'The+French+Connection', 'The+Last+Picture+Show', 'Nicholas+and+Alexandra', 'Cabaret', 'Deliverance', 'The+Emigrants', 'The+Godfather', 'Sounder', 'American+Graffiti', 'Cries+and+Whispers', 'The+Exorcist', 'The+Sting', 'A+Touch+of+Class', 'Chinatown', 'The+Conversation', 'The+Godfather+Part+II', 'Lenny', 'The+Towering+Inferno', 'Barry+Lyndon', 'Dog+Day+Afternoon', 'Jaws', 'Nashville', "One+Flew+over+the+Cuckoo's+Nest", "All+the+President's+Men", 'Bound+for+Glory', 'Network', 'Rocky', 'Taxi+Driver', 'Annie+Hall', 'The+Goodbye+Girl', 'Julia', 'Star+Wars', 'The+Turning+Point', 'Coming+Home', 'The+Deer+Hunter', 'Heaven+Can+Wait', 'Midnight+Express', 'An+Unmarried+Woman', 'All+That+Jazz', 'Apocalypse+Now', 'Breaking+Away', 'Kramer+vs.+Kramer', 'Norma+Rae', "Coal+Miner's+Daughter", 'The+Elephant+Man', 'Ordinary+People', 'Raging+Bull', 'Tess', 'Atlantic+City', 'Chariots+of+Fire', 'On+Golden+Pond', 'Raiders+of+the+Lost+Ark', 'Reds', 'E.T.+The+Extra-Terrestrial', 'Gandhi', 'Missing', 'Tootsie', 'The+Verdict', 'The+Big+Chill', 'The+Dresser', 'The+Right+Stuff', 'Tender+Mercies', 'Terms+of+Endearment', 'Amadeus', 'The+Killing+Fields', 'A+Passage+to+India', 'Places+in+the+Heart', "A+Soldier's+Story", 'The+Color+Purple', 'Kiss+of+the+Spider+Woman', 'Out+of+Africa', "Prizzi's+Honor", 'Witness', 'Children+of+a+Lesser+God', 'Hannah+and+Her+Sisters', 'The+Mission', 'Platoon', 'A+Room+with+a+View', 'Broadcast+News', 'Fatal+Attraction', 'Hope+and+Glory', 'The+Last+Emperor', 'Moonstruck', 'The+Accidental+Tourist', 'Dangerous+Liaisons', 'Mississippi+Burning', 'Rain+Man', 'Working+Girl', 'Born+on+the+Fourth+of+July', 'Dead+Poets+Society', 'Driving+Miss+Daisy', 'Field+of+Dreams', 'My+Left+Foot', 'Awakenings', 'Dances+With+Wolves', 'Ghost', 'The+Godfather,+Part+III', 'Good+Fellas', 'Beauty+and+the+Beast', 'Bugsy', 'JFK', 'The+Prince+of+Tides', 'The+Silence+of+the+Lambs', 'The+Crying+Game', 'A+Few+Good+Men', 'Howards+End', 'Scent+of+a+Woman', 'Unforgiven', 'The+Fugitive', 'In+the+Name+of+the+Father', 'The+Piano', 'The+Remains+of+the+Day', "Schindler's+List", 'Forrest+Gump', 'Four+Weddings+and+a+Funeral', 'Pulp+Fiction', 'Quiz+Show', 'The+Shawshank+Redemption', 'Apollo+13', 'Babe', 'Braveheart', 'The+Postman+(Il+Postino)', 'Sense+and+Sensibility', 'The+English+Patient', 'Fargo', 'Jerry+Maguire', 'Secrets+&+Lies', 'Shine', 'As+Good+as+It+Gets', 'The+Full+Monty', 'Good+Will+Hunting', 'L.A.+Confidential', 'Titanic', 'Elizabeth', 'Life+Is+Beautiful', 'Saving+Private+Ryan', 'Shakespeare+in+Love', 'The+Thin+Red+Line', 'American+Beauty', 'The+Cider+House+Rules', 'The+Green+Mile', 'The+Insider', 'The+Sixth+Sense', 'Chocolat', 'Crouching+Tiger,+Hidden+Dragon', 'Erin+Brockovich', 'Gladiator', 'Traffic', 'A+Beautiful+Mind', 'Gosford+Park', 'In+the+Bedroom', 'The+Lord+of+the+Rings:+The+Fellowship+of+the+Ring', 'Moulin+Rouge', 'Chicago', 'Gangs+of+New+York', 'The+Hours', 'The+Lord+of+the+Rings:+The+Two+Towers', 'The+Pianist', 'The+Lord+of+the+Rings:+The+Return+of+the+King', 'Lost+in+Translation', 'Master+and+Commander:+The+Far+Side+of+the+World', 'Mystic+River', 'Seabiscuit', 'The+Aviator', 'Finding+Neverland', 'Million+Dollar+Baby', 'Ray', 'Sideways', 'Brokeback+Mountain', 'Capote', 'Crash', 'Good+Night,+and+Good+Luck.', 'Munich', 'Babel', 'The+Departed', 'Letters+from+Iwo+Jima', 'Little+Miss+Sunshine', 'The+Queen', 'Atonement', 'Juno', 'Michael+Clayton', 'No+Country+for+Old+Men', 'There+Will+Be+Blood', 'The+Curious+Case+of+Benjamin+Button', 'Frost/Nixon', 'Milk', 'The+Reader', 'Slumdog+Millionaire', 'Avatar', 'The+Blind+Side', 'District+9', 'An+Education', 'The+Hurt+Locker', 'Inglourious+Basterds', "Precious:+Based+on+the+Novel+'Push'+by+Sapphire", 'A+Serious+Man', 'Up', 'Up+in+the+Air', 'Black+Swan', 'The+Fighter', 'Inception', 'The+Kids+Are+All+Right', "The+King's+Speech", '127+Hours', 'The+Social+Network', 'Toy+Story+3', 'True+Grit', "Winter's+Bone", 'The+Artist', 'The+Descendants', 'Extremely+Loud+&+Incredibly+Close', 'The+Help', 'Hugo', 'Midnight+in+Paris', 'Moneyball', 'The+Tree+of+Life', 'War+Horse', 'Amour', 'Argo', 'Beasts+of+the+Southern+Wild', 'Django+Unchained', 'Les+Misérables', 'Life+of+Pi', 'Lincoln', 'Silver+Linings+Playbook', 'Zero+Dark+Thirty', 'American+Hustle', 'Captain+Phillips', 'Dallas+Buyers+Club', 'Gravity', 'Her', 'Nebraska', 'Philomena', '12+Years+a+Slave', 'The+Wolf+of+Wall+Street', 'American+Sniper', 'Birdman+or+(The+Unexpected+Virtue+of+Ignorance)', 'Boyhood', 'The+Grand+Budapest+Hotel', 'The+Imitation+Game', 'Selma', 'The+Theory+of+Everything', 'Whiplash', 'The+Big+Short', 'Bridge+of+Spies', 'Brooklyn', 'Mad+Max:+Fury+Road', 'The+Martian', 'The+Revenant', 'Room', 'Spotlight']

###  The Movie DB - Get the API

In [360]:
def super_function(newlist2):
    df = pd.DataFrame([])
    for title in newlist2:
        try:
            api_key = "5d6ee3c337c9ed1dd8636a0112113fd2"
            response = requests.get('https://api.themoviedb.org/3/search/movie?api_key=' +api_key+ "&query=" + title)
            movie = pd.DataFrame(response.json()['results'])
            df = df.append(movie, sort=False )
        except ValueError:
            pass
    return df
    

TMDB = super_function(newlist2)
TMDB

,popularity,vote_count,video,poster_path,id,adult,backdrop_path,original_language,original_title,genre_ids,title,vote_average,overview,release_date
0,15.213,1649,False,/j21UXCOq0EbV8EPTtmPn1CGePfB.jpg,947,False,/lENerYvUcfl9GlolqA1emj5gb4k.jpg,en,Lawrence of Arabia,"[12, 18, 36, 10752]",Lawrence of Arabia,8.0,The story of British officer T.E. Lawrence's m...,1962-12-10
1,2.708,2,False,None,168064,False,None,en,The Making of 'Lawrence of Arabia',[99],The Making of 'Lawrence of Arabia',7.0,,2003-09-22
2,2.064,0,False,None,196890,False,None,en,Lawrence of Arabia: The Battle for the Arab World,[99],Lawrence of Arabia: The Battle for the Arab World,0.0,An exploration into the man behind the film-in...,2003-10-21
3,0.600,2,True,/3vaMjBFBXkHPxqFyxrYYNGpgegf.jpg,535860,False,None,en,Lawrence of Arabia: A Conversation with Steven...,[],Lawrence of Arabia: A Conversation with Steven...,10.0,Lawrence of Arabia: A Conversation with Steven...,
4,2.041,5,False,None,124902,False,None,en,A Dangerous Man: Lawrence After Arabia,[],A Dangerous Man: Lawrence After Arabia,7.2,"In 1919, the great English military man T. E. ...",1992-04-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15,0.600,0,False,/1E6ECNPrwawZ5DxMONsAaXngWFl.jpg,612809,False,None,en,Spotlight On Australian Ballet,[],Spotlight On Australian Ballet,0.0,This film reveals the roots of ballet in Austr...,1948-01-01
16,0.600,0,False,/7j387rGR0KkZM209QLdSdbiNG7E.jpg,570237,False,None,pl,Hannah Montana - Behind The Spotlight,[],Hannah Montana - Behind The Spotlight,0.0,,2006-12-05
17,0.600,1,False,None,390426,False,None,en,Looney Tunes - Spotlight Collection 4,[],Looney Tunes - Spotlight Collection 4,10.0,"That's right, go ahead and laugh at them. The ...",2006-11-14
18,0.600,2,False,None,551897,False,None,en,Shawn Mendes: Artist Spotlight Stories,[99],Shawn Mendes: Artist Spotlight Stories,9.0,Shawn Mendes has teamed up with YouTube Music ...,2018-09-28
19,0.600,2,True,None,379776,False,None,en,Tom and Jerry: Spotlight Collection Vol. 1,"[16, 35]",Tom and Jerry: Spotlight Collection Vol. 1,9.5,The following 112 shorts were directed by Will...,2004-10-19

In [109]:
print(TMDB.columns)

Index(['popularity', 'vote_count', 'video', 'poster_path', 'id', 'adult',
       'backdrop_path', 'original_language', 'original_title', 'genre_ids',
       'title', 'vote_average', 'overview', 'release_date'],
      dtype='object')

In [180]:
################  re run from here ################

TMDB_data = TMDB[TMDB['title'].isin(list_titles2)]

In [181]:
TMDB_data['release_date'] = pd.to_datetime(TMDB_data['release_date'].copy())
TMDB_data

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,popularity,vote_count,video,poster_path,id,adult,backdrop_path,original_language,original_title,genre_ids,title,vote_average,overview,release_date
0,13.751,1644,False,/j21UXCOq0EbV8EPTtmPn1CGePfB.jpg,947,False,/lENerYvUcfl9GlolqA1emj5gb4k.jpg,en,Lawrence of Arabia,"[12, 18, 36, 10752]",Lawrence of Arabia,8.0,The story of British officer T.E. Lawrence's m...,1962-12-10
0,11.190,500,False,/7fnuirXJpuRHggi2lOCBEwZ3eWU.jpg,9289,False,/s5rP9nQ6fqvhkrpBEe4JrSRMmOf.jpg,en,The Longest Day,"[18, 36, 10752]",The Longest Day,7.6,"The retelling of June 6, 1944, from the perspe...",1962-09-25
1,0.600,0,False,/hgkYOsFd9MBp7F6KENKF1YpDhVd.jpg,667653,False,None,sv,Den Längsta Dagen,[],The Longest Day,0.0,"This melancholy, dryly comedic Finnish-languag...",2020-01-26
0,8.778,143,False,/6dEnZkgxpsLQFyxEMdTdV2Fjul9.jpg,11085,False,/pKvDH2zHDEMUUN4YSSCjN19sTXG.jpg,en,Mutiny on the Bounty,"[12, 18, 36]",Mutiny on the Bounty,6.9,The Bounty leaves Portsmouth in 1787. Its dest...,1962-11-08
1,10.990,149,False,/bO6kaRD2BacZRPAijZgP31Fvtw4.jpg,12311,False,/806U8drrogLJjU6GRse1QOvD67T.jpg,en,Mutiny on the Bounty,"[12, 18, 36]",Mutiny on the Bounty,7.4,Fletcher Christian successfully leads a revolt...,1935-11-22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3,0.664,0,True,None,473602,False,None,en,The Revenant,[27],The Revenant,0.0,"After the death of her father, Elizabeth Parke...",2012-12-23
0,18.115,6260,False,/eqFckcHuFCT1FrzLOAvXBb4jHwq.jpg,264644,False,/6Fi9Ta7m0wdmve2B2XpDdysxAGd.jpg,en,Room,"[18, 53]",Room,8.1,Jack is a young boy of 5 years old who has liv...,2015-10-16
0,15.062,5560,False,/ngKxbvsn9Si5TYVJfi1EGAGwThU.jpg,314365,False,/t3Oea7KbSpOvuqddMnlFtZ4WHn.jpg,en,Spotlight,"[18, 36, 53]",Spotlight,7.8,The true story of how the Boston Globe uncover...,2015-11-06
3,0.600,1,False,/qhU5HJF3aEmYhAJZ1AOS0L4Lzea.jpg,501956,False,None,en,Spotlight,[],Spotlight,10.0,"A short, one shot horror film about four young...",2018-01-28
4,0.600,0,False,/aQjkOxpe8or253kB4xeFj4glevR.jpg,676568,False,/u2RikNtffcCRHeLOchMjfDT7nrv.jpg,en,Spotlight,[10402],Spotlight,0.0,Jann Arden appears in a documentary with recor...,2009-11-09

In [182]:
null_cols = TMDB_data.isnull().sum()
null_cols[null_cols > 0]

poster_path      121
backdrop_path    223
release_date      18
dtype: int64

In [183]:
#I can see that the below rows don't have any vote_average and therefore don't enrich the data --> drop

TMDB_data = TMDB_data.dropna(subset=['release_date'])
null_cols = TMDB_data.isnull().sum()
null_cols[null_cols > 0]
#no more na values in year

poster_path      106
backdrop_path    205
dtype: int64

In [184]:
#remove vote_average = 0

TMDB_data = TMDB_data[TMDB_data['vote_average'] != 0]

#remove movies without backdrop_path
TMDB_data = TMDB_data[TMDB_data['backdrop_path'] != 'None']
TMDB_data.head()

,popularity,vote_count,video,poster_path,id,adult,backdrop_path,original_language,original_title,genre_ids,title,vote_average,overview,release_date
0,13.751,1644,False,/j21UXCOq0EbV8EPTtmPn1CGePfB.jpg,947,False,/lENerYvUcfl9GlolqA1emj5gb4k.jpg,en,Lawrence of Arabia,"[12, 18, 36, 10752]",Lawrence of Arabia,8.0,The story of British officer T.E. Lawrence's m...,1962-12-10
0,11.190,500,False,/7fnuirXJpuRHggi2lOCBEwZ3eWU.jpg,9289,False,/s5rP9nQ6fqvhkrpBEe4JrSRMmOf.jpg,en,The Longest Day,"[18, 36, 10752]",The Longest Day,7.6,"The retelling of June 6, 1944, from the perspe...",1962-09-25
0,8.778,143,False,/6dEnZkgxpsLQFyxEMdTdV2Fjul9.jpg,11085,False,/pKvDH2zHDEMUUN4YSSCjN19sTXG.jpg,en,Mutiny on the Bounty,"[12, 18, 36]",Mutiny on the Bounty,6.9,The Bounty leaves Portsmouth in 1787. Its dest...,1962-11-08
1,10.990,149,False,/bO6kaRD2BacZRPAijZgP31Fvtw4.jpg,12311,False,/806U8drrogLJjU6GRse1QOvD67T.jpg,en,Mutiny on the Bounty,"[12, 18, 36]",Mutiny on the Bounty,7.4,Fletcher Christian successfully leads a revolt...,1935-11-22
0,11.397,1494,False,/fqIj7oE79qbyqHv5NBjtTI7yXP7.jpg,595,False,/eb8EqwtFWVoujlbU8CmaEYc1qE5.jpg,en,To Kill a Mockingbird,"[80, 18]",To Kill a Mockingbird,8.0,"Scout Finch, 6, and her older brother Jem live...",1962-12-25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,25.972,12528,False,/oXUWEc5i3wYyFnL1Ycu8ppxxPvs.jpg,281957,False,/kiWvoV78Cc3fUwkOHKzyBgVdrDD.jpg,en,The Revenant,"[12, 18, 37]",The Revenant,7.5,"In the 1820s, a frontiersman, Hugh Glass, sets...",2015-12-25
1,7.790,142,False,/bECzzYkRFlCZZAjQ9wboMGyWFcL.jpg,79896,False,None,en,The Revenant,"[35, 27]",The Revenant,6.2,A horror movie/buddy comedy about Joey and his...,2009-08-16
0,18.115,6260,False,/eqFckcHuFCT1FrzLOAvXBb4jHwq.jpg,264644,False,/6Fi9Ta7m0wdmve2B2XpDdysxAGd.jpg,en,Room,"[18, 53]",Room,8.1,Jack is a young boy of 5 years old who has liv...,2015-10-16
0,15.062,5560,False,/ngKxbvsn9Si5TYVJfi1EGAGwThU.jpg,314365,False,/t3Oea7KbSpOvuqddMnlFtZ4WHn.jpg,en,Spotlight,"[18, 36, 53]",Spotlight,7.8,The true story of how the Boston Globe uncover...,2015-11-06
3,0.600,1,False,/qhU5HJF3aEmYhAJZ1AOS0L4Lzea.jpg,501956,False,None,en,Spotlight,[],Spotlight,10.0,"A short, one shot horror film about four young...",2018-01-28

In [185]:
# Now that I have filted by title its time to filter by year

TMDB_data['year'] = pd.DatetimeIndex(TMDB_data['release_date']).year
TMDB_data.head()

,popularity,vote_count,video,poster_path,id,adult,backdrop_path,original_language,original_title,genre_ids,title,vote_average,overview,release_date,year
0,13.751,1644,False,/j21UXCOq0EbV8EPTtmPn1CGePfB.jpg,947,False,/lENerYvUcfl9GlolqA1emj5gb4k.jpg,en,Lawrence of Arabia,"[12, 18, 36, 10752]",Lawrence of Arabia,8.0,The story of British officer T.E. Lawrence's m...,1962-12-10,1962
0,11.190,500,False,/7fnuirXJpuRHggi2lOCBEwZ3eWU.jpg,9289,False,/s5rP9nQ6fqvhkrpBEe4JrSRMmOf.jpg,en,The Longest Day,"[18, 36, 10752]",The Longest Day,7.6,"The retelling of June 6, 1944, from the perspe...",1962-09-25,1962
0,8.778,143,False,/6dEnZkgxpsLQFyxEMdTdV2Fjul9.jpg,11085,False,/pKvDH2zHDEMUUN4YSSCjN19sTXG.jpg,en,Mutiny on the Bounty,"[12, 18, 36]",Mutiny on the Bounty,6.9,The Bounty leaves Portsmouth in 1787. Its dest...,1962-11-08,1962
1,10.990,149,False,/bO6kaRD2BacZRPAijZgP31Fvtw4.jpg,12311,False,/806U8drrogLJjU6GRse1QOvD67T.jpg,en,Mutiny on the Bounty,"[12, 18, 36]",Mutiny on the Bounty,7.4,Fletcher Christian successfully leads a revolt...,1935-11-22,1935
0,11.397,1494,False,/fqIj7oE79qbyqHv5NBjtTI7yXP7.jpg,595,False,/eb8EqwtFWVoujlbU8CmaEYc1qE5.jpg,en,To Kill a Mockingbird,"[80, 18]",To Kill a Mockingbird,8.0,"Scout Finch, 6, and her older brother Jem live...",1962-12-25,1962

In [186]:
TMDB_data.dtypes

popularity                  float64
vote_count                    int64
video                          bool
poster_path                  object
id                            int64
adult                          bool
backdrop_path                object
original_language            object
original_title               object
genre_ids                    object
title                        object
vote_average                float64
overview                     object
release_date         datetime64[ns]
year                          int64
dtype: object

In [187]:
#title_year

TMDB_data['title_year']= TMDB_data['title'] + " " + TMDB_data['year'].astype(str)
TMDB_data.head()

,popularity,vote_count,video,poster_path,id,adult,backdrop_path,original_language,original_title,genre_ids,title,vote_average,overview,release_date,year,title_year
0,13.751,1644,False,/j21UXCOq0EbV8EPTtmPn1CGePfB.jpg,947,False,/lENerYvUcfl9GlolqA1emj5gb4k.jpg,en,Lawrence of Arabia,"[12, 18, 36, 10752]",Lawrence of Arabia,8.0,The story of British officer T.E. Lawrence's m...,1962-12-10,1962,Lawrence of Arabia 1962
0,11.190,500,False,/7fnuirXJpuRHggi2lOCBEwZ3eWU.jpg,9289,False,/s5rP9nQ6fqvhkrpBEe4JrSRMmOf.jpg,en,The Longest Day,"[18, 36, 10752]",The Longest Day,7.6,"The retelling of June 6, 1944, from the perspe...",1962-09-25,1962,The Longest Day 1962
0,8.778,143,False,/6dEnZkgxpsLQFyxEMdTdV2Fjul9.jpg,11085,False,/pKvDH2zHDEMUUN4YSSCjN19sTXG.jpg,en,Mutiny on the Bounty,"[12, 18, 36]",Mutiny on the Bounty,6.9,The Bounty leaves Portsmouth in 1787. Its dest...,1962-11-08,1962,Mutiny on the Bounty 1962
1,10.990,149,False,/bO6kaRD2BacZRPAijZgP31Fvtw4.jpg,12311,False,/806U8drrogLJjU6GRse1QOvD67T.jpg,en,Mutiny on the Bounty,"[12, 18, 36]",Mutiny on the Bounty,7.4,Fletcher Christian successfully leads a revolt...,1935-11-22,1935,Mutiny on the Bounty 1935
0,11.397,1494,False,/fqIj7oE79qbyqHv5NBjtTI7yXP7.jpg,595,False,/eb8EqwtFWVoujlbU8CmaEYc1qE5.jpg,en,To Kill a Mockingbird,"[80, 18]",To Kill a Mockingbird,8.0,"Scout Finch, 6, and her older brother Jem live...",1962-12-25,1962,To Kill a Mockingbird 1962
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,25.972,12528,False,/oXUWEc5i3wYyFnL1Ycu8ppxxPvs.jpg,281957,False,/kiWvoV78Cc3fUwkOHKzyBgVdrDD.jpg,en,The Revenant,"[12, 18, 37]",The Revenant,7.5,"In the 1820s, a frontiersman, Hugh Glass, sets...",2015-12-25,2015,The Revenant 2015
1,7.790,142,False,/bECzzYkRFlCZZAjQ9wboMGyWFcL.jpg,79896,False,None,en,The Revenant,"[35, 27]",The Revenant,6.2,A horror movie/buddy comedy about Joey and his...,2009-08-16,2009,The Revenant 2009
0,18.115,6260,False,/eqFckcHuFCT1FrzLOAvXBb4jHwq.jpg,264644,False,/6Fi9Ta7m0wdmve2B2XpDdysxAGd.jpg,en,Room,"[18, 53]",Room,8.1,Jack is a young boy of 5 years old who has liv...,2015-10-16,2015,Room 2015
0,15.062,5560,False,/ngKxbvsn9Si5TYVJfi1EGAGwThU.jpg,314365,False,/t3Oea7KbSpOvuqddMnlFtZ4WHn.jpg,en,Spotlight,"[18, 36, 53]",Spotlight,7.8,The true story of how the Boston Globe uncover...,2015-11-06,2015,Spotlight 2015
3,0.600,1,False,/qhU5HJF3aEmYhAJZ1AOS0L4Lzea.jpg,501956,False,None,en,Spotlight,[],Spotlight,10.0,"A short, one shot horror film about four young...",2018-01-28,2018,Spotlight 2018

In [188]:
#drop columns i don't need 
del TMDB_data['adult']
del TMDB_data['id']
del TMDB_data['backdrop_path']
del TMDB_data['poster_path']
del TMDB_data['video']

#### Merge two datasets: Oscars + The Movie DB

In [189]:
#Merge two datasets
data = pd.merge(oscars, TMDB_data, on='title_year')
data.head()

,Year,Ceremony,Award,Winner,title_x,Film,title_year,popularity,vote_count,original_language,original_title,genre_ids,title_y,vote_average,overview,release_date,year
0,1962,35,Best Picture,1.0,Lawrence of Arabia,"Sam Spiegel, Producer",Lawrence of Arabia 1962,13.751,1644,en,Lawrence of Arabia,"[12, 18, 36, 10752]",Lawrence of Arabia,8.0,The story of British officer T.E. Lawrence's m...,1962-12-10,1962
1,1962,35,Best Picture,NaN,The Longest Day,"Darryl F. Zanuck, Producer",The Longest Day 1962,11.190,500,en,The Longest Day,"[18, 36, 10752]",The Longest Day,7.6,"The retelling of June 6, 1944, from the perspe...",1962-09-25,1962
2,1962,35,Best Picture,NaN,Mutiny on the Bounty,"Aaron Rosenberg, Producer",Mutiny on the Bounty 1962,8.778,143,en,Mutiny on the Bounty,"[12, 18, 36]",Mutiny on the Bounty,6.9,The Bounty leaves Portsmouth in 1787. Its dest...,1962-11-08,1962
3,1962,35,Best Picture,NaN,To Kill a Mockingbird,"Alan J. Pakula, Producer",To Kill a Mockingbird 1962,11.397,1494,en,To Kill a Mockingbird,"[80, 18]",To Kill a Mockingbird,8.0,"Scout Finch, 6, and her older brother Jem live...",1962-12-25,1962
4,1963,36,Best Picture,NaN,America America,"Elia Kazan, Producer",America America 1963,4.077,35,en,America America,"[18, 36]",America America,6.7,"A young Anatolian Greek, entrusted with his fa...",1963-12-15,1963

### Web Scape Movie Budget

In [213]:
url = 'https://www.the-numbers.com/movie/budgets/all'

response = requests.get(url)
html = response.content
soup = BeautifulSoup(html, "lxml")
soup

<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://ogp.me/ns#">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-1343128-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-1343128-1');
</script>
<meta content='(PICS-1.1 "https://www.icra.org/ratingsv02.html" l gen true for "https://www.the-numbers.com/" r (cb 1 lz 1 nz 1 oz 1 vz 1) "https://www.rsac.org/ratingsv01.html" l gen true for "https://www.the-numbers.com/" r (n 0 s 0 v 0 l 0))' http-equiv="PICS-Label"/>
<!--<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" >-->
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
<meta content="telephone=no" name="format-detection"/> <!-- for apple mobile -->
<meta content="521546213" property="fb:admins"/>
<meta content="initial-scale=1" name="viewport"/>
<meta content="The budget of (nearly) every movie ever made" name="description"/>
<meta content="NOODP" name="robots"/>
<meta content="movies, box office, The Numbers, Numbers, daily box office, weekly box office, movie stars, dvd sales, Blu-ray sales, release schedule" name="keywords"/>
<meta content="The Numbers - Movie Budgets" property="og:title"/>
<meta content="article" property="og:type"/>
<meta content="https://www.the-numbers.com/movie/budgets/all" property="og:url"/>
<meta content="The budget of (nearly) every movie ever made" property="og:description"/>
<meta content="The Numbers" property="og:site_name"/>
<meta content="https://www.the-numbers.com/images/the-numbers-833x200.jpg" property="og:image"/>
<meta content="833" property="og:image:width"/>
<meta content="200" property="og:image:height"/>
<meta content="The-Numbers Image" property="og:image:alt"/>
<meta content="summary_large_image" name="twitter:card"/>
<meta content="@MovieNumbers" name="twitter:site"/>
<meta content="The Numbers - Movie Budgets" name="twitter:title"/>
<meta content="The budget of (nearly) every movie ever made" name="twitter:description"/>
<meta content="https://www.the-numbers.com/movie/budgets/all" name="twitter:url"/>
<meta content="https://www.the-numbers.com/images/the-numbers-833x200.jpg" name="twitter:image"/>
<meta content="1585976611658631" property="fb:app_id"/>
<title>The Numbers - Movie Budgets</title>
<link href="/resources/the-numbers-desktop-combined.css" rel="stylesheet" type="text/css"/>
<style>
.pagination {
    display: inline-block !important;
}

.pagination a {
    color: black !important;
    float: left !important;
    padding: 4px 8px !important;
    text-decoration: none !important;
    transition: background-color .3s !important;
    border: 1px solid #ddd !important;
}

.pagination a.active {
    background-color: #ffeeee !important;
/*    color: white !important;
    border: 1px solid #4CAF50 !important;*/
}

.pagination a:hover:not(.active) {background-color: #ddd!important;}

</style><link href="https://m.the-numbers.com/movie/budgets/all" media="only screen and (max-width: 640px)" rel="alternate"/>
<script type="text/javascript">
	if (screen.width <= 640)
	{
        window.location = "https://m.the-numbers.com/movie/budgets/all";
    }
</script>
<!-- Begin comScore Tag -->
<script async="">
var _comscore = _comscore || [];
_comscore.push({ c1: "2", c2: "9873768" });
(function() {
 var s = document.createElement("script"), el = document.getElementsByTagName("script")[0]; s.async = true;
 s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js";
 el.parentNode.insertBefore(s, el);
 })();
</script>
<noscript>
<img src="https://b.scorecardresearch.com/p?c1=2&amp;c2=9873768&amp;cv=2.0&amp;cj=1"/>
</noscript>
<!-- End comScore Tag -->
<!-- Header Tag Code -->
<script data-cfasync="false" type="text/javascript">
/*<![CDATA[*/(function (a, c, s, u){'Insticator'in a || (a.Insticator={ad:{loadAd: function (b){Insticator.ad.q.push(b)}, q: []}, helper:{}, embed:{}, version: "3.0", q: [], load: function (t, o){Insticator.q.push({t: t, o: o})}}); var b=c.createElement(s); b.src=u; b.async=!0; var d=c.getElementsByTagName(s)[0]; d.parentNode.insertBefore(b, d)})(window, document, 'script', '//d2na2p72vtqyok.cloudfront.net/client-embed/65b21a35-f662-4947-80ea-07d6b99277bf.js');/*
]]>*/
</script>
<!-- End Header Tag Code -->
<!-- NextMillennium Ads -->
<script>
var a= document.createElement('script');a.src = 'https://powerad.ai/script.js';a.setAttribute('async','');top.document.querySelector('head').appendChild(a);
</script>
<!-- End of NextMillennium Ads -->
</head>
<body>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '1585976611658631',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v2.9'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<div id="wrap">
<div id="header">
<a href="/"><img alt="The Numbers - Where Data and Movies Meet" border="0" height="67" src="/images/the-numbers-banner.png" width="524"/>®
<br/>    Where Data and the Movie Business Meet
</a>
</div>
<div id="header_right" style="background: #663366; width:200px; height: 96px;">
<div style="float:right;">
Follow us on
<a href="https://www.facebook.com/TheNumbers" target="_blank"><img height="32" src="https://www.the-numbers.com/images/icons/facebook.png" style="border:none;" title="Follow The Numbers on Facebook" width="32"/></a>
<a href="https://www.twitter.com/MovieNumbers" target="_blank" title="Follow The Numbers on Twitter"><img height="32" src="https://www.the-numbers.com/images/icons/twitter.png" style="border:none;" width="32"/></a>
</div>
</div>
<div id="nav">
<ul>
<li><a href="/news">News</a>
<ul>
<li><a href="/news">Latest News</a></li>
<li><a href="/rss-feed">RSS Feed</a></li>
<li><a href="/movies/release-schedule">Release Schedule</a></li>
<li><a href="/on-this-day">On This Day</a></li>
<li><a href="/oscars">Oscars</a></li>
</ul>
</li>
<li><a href="/box-office">Box Office</a>
<ul>
<li><a href="/daily-box-office-chart">Daily Chart</a></li>
<li><a href="/weekend-box-office-chart">Weekend Chart</a></li>
<li><a href="/weekly-box-office-chart">Weekly Chart</a></li>
<li><a href="/market/">Theatrical Market</a></li>
<li><a href="/international-charts-overview">International Charts</a></li>
<li><a href="/box-office-records/">Records</a></li>
<li><a href="/box-office">Chart Index</a></li>
<li><a href="/movies/release-schedule">Release Schedule</a></li>
<li><a href="/box-office-records/domestic/all-movies/cumulative/released-in-2020">2020 Domestic</a></li>
<li><a href="/box-office-records/worldwide/all-movies/cumulative/released-in-2020">2020 Worldwide</a></li>
</ul>
</li>
<li><a href="/weekly-dvd-sales-chart">Home Video</a>
<ul>
<li><a href="/weekly-dvd-sales-chart">Weekly DVD Chart</a></li>
<li><a href="/weekly-bluray-sales-chart">Weekly Blu-ray Chart</a></li>
<li><a href="/weekly-video-sales-chart">Weekly Combined DVD+Blu-ray Chart</a></li>
<li><a href="/home-market/dvd-sales/2020">2020 DVD Chart</a></li>
<li><a href="/home-market/bluray-sales/2020">2020 Blu-ray Chart</a></li>
<li><a href="/home-market/packaged-media-sales/2020">2020 Combined Chart</a></li>
<li><a href="/alltime-bluray-sales-chart">All-Time Blu-ray</a></li>
<li><a href="/home-market/release-schedule">Release Schedule</a></li>
<li><a href="/home-market/distributors">Distributors</a></li>
</ul>
</li>
<li><a href="/movies">Movies</a>
<ul>
<li><a href="/movie/budgets">Budgets and Finances</a></li>
<li><a href="/movies/franchises">Franchises</a></li>
<li><a href="/movies/keywords">Keywords</a></li>
<li><a href="/movies">Movie Index</a></li>
<li><a href="/movies/release-schedule">Release Schedule</a></li>
<li><a href="/movies/most-anticipated">Most Anticipated</a></li>
<li><a href="/movies/trending">Trending Movies</a></li>
<li><a href="/movies/production-companies/">Production Companies</a></li>
<li><a href="/movies/production-countries/">Production Countries</a></li>
<li><a href="/movies/languages">Languages</a></li>
<li><a href="/movies/comparisons">Comparisons</a></li>
<li><a href="/movies/report-builder">Report Builder</a></li>
</ul>
</li>
<li><a href="/people-index">People</a>
<ul>
<li><a href="/bankability">Bankability</a></li>
<li><a href="/box-office-star-records/">Records</a></li>
<li><a href="/people-index">People Index</a></li>
<li><a href="/people/trending">Trending People</a></li>
<li><a href="/box-office-star-records/domestic/yearly-acting/highest-grossing-2020-stars">Highest Grossing Stars of 2020</a></li>
</ul>
</li>
<li><a href="/research-tools">Research Tools</a>
<ul>
<li><a href="/movies/report-builder">Report Builder</a></li>
<li><a href="/movies/keywords">Keyword Analysis</a></li>
<li><a href="/movies/custom-comparisons">Movie Comparison</a></li>
<li><a href="/custom-search">Search</a></li>
</ul>
</li>
<li><a href="/our-services">Our Services</a>
<ul>
<li><a href="/research-services">Research Services</a></li>
<li><a href="/data-services">Data Services</a></li>
<li><a href="/bankability">Bankability</a></li>
<li><a href="/about-us">About Us</a></li>
<li><a href="/support-us">Support Us</a></li>
<li><a href="/contact">Contact</a></li>
</ul>
</li>
<li><a href="/users/my-numbers">My Numbers</a>
<ul>
<li><a href="/users/register">Register</a></li>
<li><a href="/users/login">Login</a></li>
<li><a href="/users/forgot-password">Forgot Password</a></li>
</ul>
</li>
<li style="background: #ffcc00;"><a href="https://m.the-numbers.com/movie/budgets/all?from_desktop=Yes" rel="nofollow" style="background: #ffcc00;">Mobile Website</a></li>
<li><a href="/users/register">Register</a></li>
<li><a href="/users/login?backtopage=/movie/budgets/all">Login</a></li>
</ul>
</div>
<div id="banneradnew">
<center>
<script type="text/javascript"><!--
e9 = new Object();
e9.size = "728x90,970x250";
//--></script>
<script src="//tags.expo9.exponential.com/tags/TheNumbers/ROS/tags.js" type="text/javascript"></script>
</center>
</div>
<div id="main">
<div id="page_filling_chart">
<div class="alignright" style="margin: 16px 0px -16px 0px;">
<ul id="social_horizontal">
<li>
<a class="twitter-share-button" data-text="The Numbers - Movie Budgets" data-via="MovieNumbers" href="https://twitter.com/share" rel="nofollow"></a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</li>
<li>
<div class="fb-share-button" data-href="https://www.the-numbers.com/movie/budgets/all" data-layout="button_count"></div>
</li>
<li>
<div class="fb-like" data-action="like" data-colorscheme="light" data-href="https://www.the-numbers.com/movie/budgets/all" data-layout="button_count" data-send="false" data-show-faces="false"></div>
</li>
<li>
<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
<script data-counter="right" type="IN/Share"></script>
</li>
</ul>
</div><div class="clearfloats"></div>
<h1>Movie Budgets</h1>
<p><b>Note:</b> Budget numbers for movies can be both difficult to find and unreliable.
Studios and film-makers often try to keep the information secret and will use accounting tricks to inflate or reduce announced budgets.
</p><p>This chart shows the budget of every film in our database, where we have it.
The data we have is, to the best of our knowledge, accurate but there are gaps and disputed figures.
If you have additional information or corrections, please let us know at <a href="mailto:corrections@the-numbers.com">corrections@the-numbers.com</a>.
</p><p>
Our movie profit and loss records, based on this budget information, can be found <a href="/movie/budgets">here</a>.
</p><center>
<table>
<tr><th> </th><th>Release<br/>Date</th><th>Movie</th><th>Production<br/>Budget</th><th>Domestic<br/>Gross</th><th>Worldwide<br/>Gross</th></tr>
<tr><td class="data">1</td>
<td><a href="/box-office-chart/daily/2019/04/23">Apr 23, 2019</a></td>
<td><b><a href="/movie/Avengers-Endgame-(2019)#tab=summary">Avengers: Endgame</a></b></td>
<td class="data"> $400,000,000</td>
<td class="data"> $858,373,000</td>
<td class="data"> $2,797,800,564</td>
</tr>
<tr><td class="data">2</td>
<td><a href="/box-office-chart/daily/2011/05/20">May 20, 2011</a></td>
<td><b><a href="/movie/Pirates-of-the-Caribbean-On-Stranger-Tides#tab=summary">Pirates of the Caribbean: On Stranger Tides</a></b></td>
<td class="data"> $379,000,000</td>
<td class="data"> $241,063,875</td>
<td class="data"> $1,045,663,875</td>
</tr>
<tr><td class="data">3</td>
<td><a href="/box-office-chart/daily/2015/04/22">Apr 22, 2015</a></td>
<td><b><a href="/movie/Avengers-Age-of-Ultron#tab=summary">Avengers: Age of Ultron</a></b></td>
<td class="data"> $365,000,000</td>
<td class="data"> $459,005,868</td>
<td class="data"> $1,403,013,963</td>
</tr>
<tr><td class="data">4</td>
<td><a href="/box-office-chart/daily/2015/12/16">Dec 16, 2015</a></td>
<td><b><a href="/movie/Star-Wars-Ep-VII-The-Force-Awakens#tab=summary">Star Wars Ep. VII: The Force Awakens</a></b></td>
<td class="data"> $306,000,000</td>
<td class="data"> $936,662,225</td>
<td class="data"> $2,068,223,624</td>
</tr>
<tr><td class="data">5</td>
<td><a href="/box-office-chart/daily/2018/04/25">Apr 25, 2018</a></td>
<td><b><a href="/movie/Avengers-Infinity-War#tab=summary">Avengers: Infinity War</a></b></td>
<td class="data"> $300,000,000</td>
<td class="data"> $678,815,482</td>
<td class="data"> $2,048,359,754</td>
</tr>
<tr><td class="data">6</td>
<td><a href="/box-office-chart/daily/2007/05/24">May 24, 2007</a></td>
<td><b><a href="/movie/Pirates-of-the-Caribbean-At-Worlds-End#tab=summary">Pirates of the Caribbean: At Worldâs End</a></b></td>
<td class="data"> $300,000,000</td>
<td class="data"> $309,420,425</td>
<td class="data"> $963,420,425</td>
</tr>
<tr><td class="data">7</td>
<td><a href="/box-office-chart/daily/2017/11/13">Nov 13, 2017</a></td>
<td><b><a href="/movie/Justice-League-(2017)#tab=summary">Justice League</a></b></td>
<td class="data"> $300,000,000</td>
<td class="data"> $229,024,295</td>
<td class="data"> $655,945,209</td>
</tr>
<tr><td class="data">8</td>
<td><a href="/box-office-chart/daily/2015/10/06">Oct 6, 2015</a></td>
<td><b><a href="/movie/Spectre#tab=summary">Spectre</a></b></td>
<td class="data"> $300,000,000</td>
<td class="data"> $200,074,175</td>
<td class="data"> $879,620,923</td>
</tr>
<tr><td class="data">9</td>
<td><a href="/box-office-chart/daily/2019/12/18">Dec 18, 2019</a></td>
<td><b><a href="/movie/Star-Wars-The-Rise-of-Skywalker-(2019)#tab=summary">Star Wars: The Rise of Skywalker</a></b></td>
<td class="data"> $275,000,000</td>
<td class="data"> $515,202,542</td>
<td class="data"> $1,070,285,296</td>
</tr>
<tr><td class="data">10</td>
<td><a href="/box-office-chart/daily/2018/05/23">May 23, 2018</a></td>
<td><b><a href="/movie/Solo-A-Star-Wars-Story#tab=summary">Solo: A Star Wars Story</a></b></td>
<td class="data"> $275,000,000</td>
<td class="data"> $213,767,512</td>
<td class="data"> $393,151,347</td>
</tr>
<tr><td class="data">11</td>
<td><a href="/box-office-chart/daily/2012/03/07">Mar 7, 2012</a></td>
<td><b><a href="/movie/John-Carter-of-Mars#tab=summary">John Carter</a></b></td>
<td class="data"> $263,700,000</td>
<td class="data"> $73,058,679</td>
<td class="data"> $282,778,100</td>
</tr>
<tr><td class="data">12</td>
<td><a href="/box-office-chart/daily/2016/03/23">Mar 23, 2016</a></td>
<td><b><a href="/movie/Batman-v-Superman-Dawn-of-Justice#tab=summary">Batman v Superman: Dawn of Justice</a></b></td>
<td class="data"> $263,000,000</td>
<td class="data"> $330,360,194</td>
<td class="data"> $873,634,919</td>
</tr>
<tr><td class="data">13</td>
<td><a href="/box-office-chart/daily/2019/07/11">Jul 11, 2019</a></td>
<td><b><a href="/movie/Lion-King-The-(Live-Action)-(2019)#tab=summary">The Lion King</a></b></td>
<td class="data"> $260,000,000</td>
<td class="data"> $543,638,043</td>
<td class="data"> $1,656,943,394</td>
</tr>
<tr><td class="data">14</td>
<td><a href="/box-office-chart/daily/2010/11/24">Nov 24, 2010</a></td>
<td><b><a href="/movie/Tangled#tab=summary">Tangled</a></b></td>
<td class="data"> $260,000,000</td>
<td class="data"> $200,821,936</td>
<td class="data"> $585,727,091</td>
</tr>
<tr><td class="data">15</td>
<td><a href="/box-office-chart/daily/2007/05/04">May 4, 2007</a></td>
<td><b><a href="/movie/Spider-Man-3#tab=summary">Spider-Man 3</a></b></td>
<td class="data"> $258,000,000</td>
<td class="data"> $336,530,303</td>
<td class="data"> $894,860,230</td>
</tr>
<tr><td class="data">16</td>
<td><a href="/box-office-chart/daily/2016/04/22">Apr 22, 2016</a></td>
<td><b><a href="/movie/Captain-America-Civil-War#tab=summary">Captain America: Civil War</a></b></td>
<td class="data"> $250,000,000</td>
<td class="data"> $408,084,349</td>
<td class="data"> $1,153,284,349</td>
</tr>
<tr><td class="data">17</td>
<td><a href="/box-office-chart/daily/2009/07/15">Jul 15, 2009</a></td>
<td><b><a href="/movie/Harry-Potter-and-the-Half-Blood-Prince#tab=summary">Harry Potter and the Half-Blood Prince</a></b></td>
<td class="data"> $250,000,000</td>
<td class="data"> $302,089,278</td>
<td class="data"> $935,213,767</td>
</tr>
<tr><td class="data">18</td>
<td><a href="/box-office-chart/daily/2013/12/13">Dec 13, 2013</a></td>
<td><b><a href="/movie/Hobbit-The-Desolation-of-Smaug-The#tab=summary">The Hobbit: The Desolation of Smaug</a></b></td>
<td class="data"> $250,000,000</td>
<td class="data"> $258,241,522</td>
<td class="data"> $960,241,522</td>
</tr>
<tr><td class="data">19</td>
<td><a href="/box-office-chart/daily/2014/12/10">Dec 10, 2014</a></td>
<td><b><a href="/movie/Hobbit-The-Battle-of-the-Five-Armies-The#tab=summary">The Hobbit: The Battle of the Five Armies</a></b></td>
<td class="data"> $250,000,000</td>
<td class="data"> $255,119,788</td>
<td class="data"> $945,577,621</td>
</tr>
<tr><td class="data">20</td>
<td><a href="/box-office-chart/daily/2017/04/07">Apr 7, 2017</a></td>
<td><b><a href="/movie/Fate-of-the-Furious-The#tab=summary">The Fate of the Furious</a></b></td>
<td class="data"> $250,000,000</td>
<td class="data"> $225,764,765</td>
<td class="data"> $1,238,764,765</td>
</tr>
<tr><td class="data">21</td>
<td><a href="/box-office-chart/daily/2020/11/12">Nov 12, 2020</a></td>
<td><b><a href="/movie/No-Time-to-Die#tab=summary">No Time to Die</a></b></td>
<td class="data"> $250,000,000</td>
<td class="data"> $0</td>
<td class="data"> $0</td>
</tr>
<tr><td class="data">22</td>
<td><a href="/box-office-chart/daily/2009/12/17">Dec 17, 2009</a></td>
<td><b><a href="/movie/Avatar#tab=summary">Avatar</a></b></td>
<td class="data"> $237,000,000</td>
<td class="data"> $760,507,625</td>
<td class="data"> $2,788,701,337</td>
</tr>
<tr><td class="data">23</td>
<td><a href="/box-office-chart/daily/2006/06/28">Jun 28, 2006</a></td>
<td><b><a href="/movie/Superman-Returns#tab=summary">Superman Returns</a></b></td>
<td class="data"> $232,000,000</td>
<td class="data"> $200,120,000</td>
<td class="data"> $391,081,192</td>
</tr>
<tr><td class="data">24</td>
<td><a href="/box-office-chart/daily/2012/07/19">Jul 19, 2012</a></td>
<td><b><a href="/movie/Dark-Knight-Rises-The#tab=summary">The Dark Knight Rises</a></b></td>
<td class="data"> $230,000,000</td>
<td class="data"> $448,139,099</td>
<td class="data"> $1,084,439,099</td>
</tr>
<tr><td class="data">25</td>
<td><a href="/box-office-chart/daily/2017/05/23">May 23, 2017</a></td>

In [229]:
table = soup.find_all('td')

In [234]:
rows = [row.text.strip().split("\n") for row in table]
rows

[['1'],
 ['Apr 23, 2019'],
 ['Avengers: Endgame'],
 ['$400,000,000'],
 ['$858,373,000'],
 ['$2,797,800,564'],
 ['2'],
 ['May 20, 2011'],
 ['Pirates of the Caribbean: On Stranger Tides'],
 ['$379,000,000'],
 ['$241,063,875'],
 ['$1,045,663,875'],
 ['3'],
 ['Apr 22, 2015'],
 ['Avengers: Age of Ultron'],
 ['$365,000,000'],
 ['$459,005,868'],
 ['$1,403,013,963'],
 ['4'],
 ['Dec 16, 2015'],
 ['Star Wars Ep. VII: The Force Awakens'],
 ['$306,000,000'],
 ['$936,662,225'],
 ['$2,068,223,624'],
 ['5'],
 ['Apr 25, 2018'],
 ['Avengers: Infinity War'],
 ['$300,000,000'],
 ['$678,815,482'],
 ['$2,048,359,754'],
 ['6'],
 ['May 24, 2007'],
 ['Pirates of the Caribbean: At Worldâ\x80\x99s End'],
 ['$300,000,000'],
 ['$309,420,425'],
 ['$963,420,425'],
 ['7'],
 ['Nov 13, 2017'],
 ['Justice League'],
 ['$300,000,000'],
 ['$229,024,295'],
 ['$655,945,209'],
 ['8'],
 ['Oct 6, 2015'],
 ['Spectre'],
 ['$300,000,000'],
 ['$200,074,175'],
 ['$879,620,923'],
 ['9'],
 ['Dec 18, 2019'],
 ['Star Wars: The Rise of Skywalker'],
 ['$275,000,000'],
 ['$515,202,542'],
 ['$1,070,285,296'],
 ['10'],
 ['May 23, 2018'],
 ['Solo: A Star Wars Story'],
 ['$275,000,000'],
 ['$213,767,512'],
 ['$393,151,347'],
 ['11'],
 ['Mar 7, 2012'],
 ['John Carter'],
 ['$263,700,000'],
 ['$73,058,679'],
 ['$282,778,100'],
 ['12'],
 ['Mar 23, 2016'],
 ['Batman v Superman: Dawn of Justice'],
 ['$263,000,000'],
 ['$330,360,194'],
 ['$873,634,919'],
 ['13'],
 ['Jul 11, 2019'],
 ['The Lion King'],
 ['$260,000,000'],
 ['$543,638,043'],
 ['$1,656,943,394'],
 ['14'],
 ['Nov 24, 2010'],
 ['Tangled'],
 ['$260,000,000'],
 ['$200,821,936'],
 ['$585,727,091'],
 ['15'],
 ['May 4, 2007'],
 ['Spider-Man 3'],
 ['$258,000,000'],
 ['$336,530,303'],
 ['$894,860,230'],
 ['16'],
 ['Apr 22, 2016'],
 ['Captain America: Civil War'],
 ['$250,000,000'],
 ['$408,084,349'],
 ['$1,153,284,349'],
 ['17'],
 ['Jul 15, 2009'],
 ['Harry Potter and the Half-Blood Prince'],
 ['$250,000,000'],
 ['$302,089,278'],
 ['$935,213,767'],
 ['18'],
 ['Dec 13, 2013'],
 ['The Hobbit: The Desolation of Smaug'],
 ['$250,000,000'],
 ['$258,241,522'],
 ['$960,241,522'],
 ['19'],
 ['Dec 10, 2014'],
 ['The Hobbit: The Battle of the Five Armies'],
 ['$250,000,000'],
 ['$255,119,788'],
 ['$945,577,621'],
 ['20'],
 ['Apr 7, 2017'],
 ['The Fate of the Furious'],
 ['$250,000,000'],
 ['$225,764,765'],
 ['$1,238,764,765'],
 ['21'],
 ['Nov 12, 2020'],
 ['No Time to Die'],
 ['$250,000,000'],
 ['$0'],
 ['$0'],
 ['22'],
 ['Dec 17, 2009'],
 ['Avatar'],
 ['$237,000,000'],
 ['$760,507,625'],
 ['$2,788,701,337'],
 ['23'],
 ['Jun 28, 2006'],
 ['Superman Returns'],
 ['$232,000,000'],
 ['$200,120,000'],
 ['$391,081,192'],
 ['24'],
 ['Jul 19, 2012'],
 ['The Dark Knight Rises'],
 ['$230,000,000'],
 ['$448,139,099'],
 ['$1,084,439,099'],
 ['25'],
 ['May 23, 2017'],
 ['Pirates of the Caribbean: Dead Men Tell No Tales'],
 ['$230,000,000'],
 ['$172,558,876'],
 ['$788,241,137'],
 ['26'],
 ['Nov 14, 2008'],
 ['Quantum of Solace'],
 ['$230,000,000'],
 ['$169,368,427'],
 ['$591,692,078'],
 ['27'],
 ['Apr 25, 2012'],
 ['The Avengers'],
 ['$225,000,000'],
 ['$623,357,910'],
 ['$1,518,812,988'],
 ['28'],
 ['Jul 7, 2006'],
 ['Pirates of the Caribbean: Dead Manâ\x80\x99s Chest'],
 ['$225,000,000'],
 ['$423,315,812'],
 ['$1,066,215,812'],
 ['29'],
 ['Jun 14, 2013'],
 ['Man of Steel'],
 ['$225,000,000'],
 ['$291,045,518'],
 ['$667,999,518'],
 ['30'],
 ['May 16, 2008'],
 ['The Chronicles of Narnia: Prince Caspian'],
 ['$225,000,000'],
 ['$141,621,490'],
 ['$417,341,288'],
 ['31'],
 ['Jul 2, 2013'],
 ['The Lone Ranger'],
 ['$225,000,000'],
 ['$89,302,115'],
 ['$260,002,115'],
 ['32'],
 ['Jul 17, 2020'],
 ['Tenet'],
 ['$224,000,000'],
 ['$0'],
 ['$0'],
 ['33'],
 ['Jun 27, 2012'],
 ['The Amazing Spider-Man'],
 ['$220,000,000'],
 ['$262,030,663'],
 ['$757,890,267'],
 ['34'],
 ['Apr 11, 2012'],
 ['Battleship'],
 ['$220,000,000'],
 ['$65,233,400'],
 ['$313,477,717'],
 ['35'],
 ['Jun 20, 2017'],
 ['Transformers: The Last Knight'],
 ['$217,000,000'],
 ['$130,168,683'],
 ['$602,893,340'],
 ['36'],
 ['Jun 9, 2015'],
 ['Jurassic World'],
 ['$215,000,000'],
 ['$652,270,625'],
 ['$1,670,400,637'],
 ['37'],
 ['May 23, 2012'],
 ['Men in Black 3'],
 ['$215,000,000'],
 ['$179,020,854'],
 ['$654,213,485'],
 ['38'],
 ['Jun 24, 2009'],
 ['Transformers: Revenge of the Fallen'],
 ['$210,000,000'],
 ['$402,111,870'],
 ['$836,519,699'],
 ['39'],
 ['Jun 25, 2014'],
 ['Transformers: Age of Extinction'],
 ['$210,000,000'],
 ['$245,439,076'],
 ['$1,104,054,072'],
 ['40'],
 ['May 26, 2006'],
 ['X-Men: The Last Stand'],
 ['$210,000,000'],
 ['$234,362,462'],
 ['$459,260,946'],
 ['41'],
 ['May 14, 2010'],
 ['Robin Hood'],
 ['$210,000,000'],
 ['$105,487,148'],
 ['$322,459,006'],
 ['42'],
 ['Dec 14, 2005'],
 ['King Kong'],
 ['$207,000,000'],
 ['$218,080,025'],
 ['$550,517,357'],
 ['43'],
 ['Dec 7, 2007'],
 ['The Golden Compass'],
 ['$205,000,000'],
 ['$70,107,728'],
 ['$367,262,558'],
 ['44'],
 ['Feb 13, 2018'],
 ['Black Panther'],
 ['$200,000,000'],
 ['$700,059,566'],
 ['$1,346,913,161'],
 ['45'],
 ['Dec 19, 1997'],
 ['Titanic'],
 ['$200,000,000'],
 ['$659,363,944'],
 ['$2,208,208,395'],
 ['46'],
 ['Dec 13, 2017'],
 ['Star Wars Ep. VIII: The Last Jedi'],
 ['$200,000,000'],
 ['$620,181,382'],
 ['$1,332,539,889'],
 ['47'],
 ['Jun 15, 2018'],
 ['Incredibles 2'],
 ['$200,000,000'],
 ['$608,581,744'],
 ['$1,242,805,359'],
 ['48'],
 ['Dec 14, 2016'],
 ['Rogue One: A Star Wars Story'],
 ['$200,000,000'],
 ['$532,177,324'],
 ['$1,056,057,273'],
 ['49'],
 ['Jun 16, 2016'],
 ['Finding Dory'],
 ['$200,000,000'],
 ['$486,295,561'],
 ['$1,028,570,889'],
 ['50'],
 ['Jun 20, 2019'],
 ['Toy Story 4'],
 ['$200,000,000'],
 ['$434,038,008'],
 ['$1,073,394,813'],
 ['51'],
 ['Jun 18, 2010'],
 ['Toy Story 3'],
 ['$200,000,000'],
 ['$415,004,880'],
 ['$1,068,879,522'],
 ['52'],
 ['Apr 24, 2013'],
 ['Iron Man 3'],
 ['$200,000,000'],
 ['$408,992,272'],
 ['$1,215,392,272'],
 ['53'],
 ['Apr 28, 2017'],
 ['Guardians of the Galaxy Vol 2'],
 ['$200,000,000'],
 ['$389,813,101'],
 ['$869,113,101'],
 ['54'],
 ['Jun 30, 2004'],
 ['Spider-Man 2'],
 ['$200,000,000'],
 ['$373,524,485'],
 ['$795,110,670'],
 ['55'],
 ['Mar 5, 2010'],
 ['Alice in Wonderland'],
 ['$200,000,000'],
 ['$334,191,110'],
 ['$1,025,491,110'],
 ['56'],
 ['Oct 26, 2012'],
 ['Skyfall'],
 ['$200,000,000'],
 ['$304,360,277'],
 ['$1,110,526,981'],
 ['57'],
 ['Dec 11, 2012'],
 ['The Hobbit: An Unexpected Journey'],
 ['$200,000,000'],
 ['$303,003,568'],
 ['$1,017,003,568'],
 ['58'],
 ['Jun 21, 2013'],
 ['Monsters University'],
 ['$200,000,000'],
 ['$268,488,329'],
 ['$743,588,329'],
 ['59'],
 ['Mar 8, 2013'],
 ['Oz the Great and Powerful'],
 ['$200,000,000'],
 ['$234,770,996'],
 ['$490,359,051'],
 ['60'],
 ['May 21, 2014'],
 ['X-Men: Days of Future Past'],
 ['$200,000,000'],
 ['$233,921,534'],
 ['$747,862,775'],
 ['61'],
 ['Apr 16, 2014'],
 ['The Amazing Spider-Man 2'],
 ['$200,000,000'],
 ['$202,853,933'],
 ['$708,996,336'],
 ['62'],
 ['Jun 23, 2011'],
 ['Cars 2'],
 ['$200,000,000'],
 ['$191,450,875'],
 ['$560,155,383'],
 ['63'],
 ['Jul 31, 2019'],
 ['Fast & Furious Presents: Hobbs & Shaw'],
 ['$200,000,000'],
 ['$173,956,935'],
 ['$760,582,290'],
 ['64'],
 ['Dec 17, 2010'],
 ['Tron: Legacy'],
 ['$200,000,000'],
 ['$172,062,763'],
 ['$400,062,763'],
 ['65'],
 ['Nov 12, 2009'],
 ['2012'],
 ['$200,000,000'],
 ['$166,112,167'],
 ['$757,677,748'],
 ['66'],
 ['Nov 14, 2018'],
 ['Fantastic Beasts: The Crimes of Grindelwald'],
 ['$200,000,000'],
 ['$159,555,901'],
 ['$652,220,086'],
 ['67'],
 ['May 21, 2009'],
 ['Terminator Salvation'],
 ['$200,000,000'],
 ['$125,322,469'],
 ['$365,491,792'],
 ['68'],
 ['Jun 17, 2011'],
 ['Green Lantern'],
 ['$200,000,000'],
 ['$116,601,172'],
 ['$219,535,492'],
 ['69'],
 ['May 28, 2010'],
 ['Prince of Persia: Sands of Time'],
 ['$200,000,000'],
 ['$90,759,676'],
 ['$336,359,676'],
 ['70'],
 ['Jun 5, 2019'],
 ['Dark Phoenix'],
 ['$200,000,000'],
 ['$65,845,974'],
 ['$246,356,895'],
 ['71'],
 ['Jun 29, 2011'],
 ['Transformers: Dark of the Moon'],
 ['$195,000,000'],
 ['$352,390,543'],
 ['$1,123,794,079'],
 ['72'],
 ['Jun 2, 2017'],
 ['The Mummy'],
 ['$195,000,000'],
 ['$80,101,125'],
 ['$409,953,905'],
 ['73'],
 ['Feb 27, 2013'],
 ['Jack the Giant Slayer'],
 ['$195,000,000'],
 ['$65,187,603'],
 ['$197,687,603'],
 ['74'],
 ['Apr 1, 2015'],
 ['Furious 7'],
 ['$190,000,000'],
 ['$353,007,020'],
 ['$1,518,722,794'],
 ['75'],
 ['May 16, 2013'],
 ['Star Trek Into Darkness'],
 ['$190,000,000'],
 ['$228,778,661'],
 ['$467,381,584'],
 ['76'],
 ['Jun 19, 2013'],
 ['World War Z'],
 ['$190,000,000'],
 ['$202,359,711'],
 ['$531,514,650'],
 ['77'],
 ['May 10, 2013'],
 ['The Great Gatsby'],
 ['$190,000,000'],
 ['$144,840,419'],
 ['$353,640,419'],
 ['78'],
 ['Nov 6, 2009'],
 ['Disneyâ\x80\x99s A Christmas Carol'],
 ['$190,000,000'],
 ['$137,855,863'],
 ['$315,709,697'],
 ['79'],
 ['Jul 11, 2013'],
 ['Pacific Rim'],
 ['$190,000,000'],
 ['$101,802,906'],
 ['$411,002,906'],
 ['80'],
 ['Nov 25, 2015'],
 ['The Good Dinosaur'],
 ['$187,500,000'],
 ['$123,087,120'],
 ['$333,771,037'],
 ['81'],
 ['May 2, 2008'],
 ['Iron Man'],
 ['$186,000,000'],
 ['$318,604,126'],
 ['$585,171,547'],
 ['82'],
 ['Jul 18, 2008'],
 ['The Dark Knight'],
 ['$185,000,000'],
 ['$535,234,033'],
 ['$1,003,509,293'],
 ['83'],
 ['May 22, 2008'],
 ['Indiana Jones and the Kingdom of the Crystal Skull'],
 ['$185,000,000'],
 ['$317,101,119'],
 ['$786,635,413'],
 ['84'],
 ['Jun 21, 2012'],
 ['Brave'],
 ['$185,000,000'],
 ['$237,282,182'],
 ['$554,606,532'],
 ['85'],
 ['Feb 23, 2017'],
 ['Kong: Skull Island'],
 ['$185,000,000'],
 ['$168,052,812'],
 ['$561,072,059'],
 ['86'],
 ['Jul 21, 2016'],
 ['Star Trek Beyond'],
 ['$185,000,000'],
 ['$158,848,340'],
 ['$335,802,233'],
 ['87'],
 ['Oct 17, 2019'],
 ['Maleficent: Mistress of Evil'],
 ['$185,000,000'],
 ['$113,929,605'],
 ['$489,380,440'],
 ['88'],
 ['Sep 29, 2017'],
 ['Blade Runner 2049'],
 ['$185,000,000'],
 ['$92,054,159'],
 ['$259,357,408'],
 ['89'],
 ['Oct 25, 2019'],
 ['Terminator: Dark Fate'],
 ['$185,000,000'],
 ['$62,253,077'],
 ['$250,491,163'],
 ['90'],
 ['May 22, 2019'],
 ['Aladdin'],
 ['$182,000,000'],
 ['$355,559,216'],
 ['$1,050,959,216'],
 ['91'],
 ['Oct 25, 2017'],
 ['Thor: Ragnarok'],
 ['$180,000,000'],
 ['$315,058,289'],
 ['$853,958,289'],
 ['92'],
 ['Dec 9, 2005'],
 ['The Chronicles of Narnia: The Lion, the Witch a…'],
 ['$180,000,000'],
 ['$291,710,957'],
 ['$720,539,572'],
 ['93'],
 ['May 28, 2014'],
 ['Maleficent'],
 ['$180,000,000'],
 ['$241,407,328'],
 ['$758,536,735'],
 ['94'],
 ['Nov 14, 2016'],
 ['Fantastic Beasts and Where to Find Them'],
 ['$180,000,000'],
 ['$234,037,575'],
 ['$814,037,575'],
 ['95'],
 ['Jun 27, 2008'],
 ['WALL-E'],
 ['$180,000,000'],
 ['$223,808,164'],
 ['$532,508,025'],
 ['96'],
 ['Aug 10, 2007'],
 ['Rush Hour 3'],
 ['$180,000,000'],
 ['$140,125,968'],
 ['$256,585,882'],
 ['97'],
 ['Jun 27, 2016'],
 ['The Legend of Tarzan'],
 ['$180,000,000'],
 ['$126,643,061'],
 ['$348,902,025'],
 ['98'],
 ['Nov 23, 2011'],
 ['Hugo'],
 ['$180,000,000'],
 ['$73,864,507'],
 ['$180,047,784'],
 ['99'],
 ['Jul 20, 2017'],
 ['Valerian and the City of a Thousand Planets'],
 ['$180,000,000'],
 ['$40,479,370'],
 ['$215,098,356'],
 ['100'],
 ['Feb 6, 2015'],
 ['Jupiter Ascending'],
 ['$179,000,000'],
 ['$47,482,519'],
 ['$181,982,519']]

In [237]:
list_rows = sum(rows, [])
print(list_rows)

['1', 'Apr 23, 2019', 'Avengers: Endgame', '$400,000,000', '$858,373,000', '$2,797,800,564', '2', 'May 20, 2011', 'Pirates of the Caribbean: On Stranger Tides', '$379,000,000', '$241,063,875', '$1,045,663,875', '3', 'Apr 22, 2015', 'Avengers: Age of Ultron', '$365,000,000', '$459,005,868', '$1,403,013,963', '4', 'Dec 16, 2015', 'Star Wars Ep. VII: The Force Awakens', '$306,000,000', '$936,662,225', '$2,068,223,624', '5', 'Apr 25, 2018', 'Avengers: Infinity War', '$300,000,000', '$678,815,482', '$2,048,359,754', '6', 'May 24, 2007', 'Pirates of the Caribbean: At Worldâ\x80\x99s End', '$300,000,000', '$309,420,425', '$963,420,425', '7', 'Nov 13, 2017', 'Justice League', '$300,000,000', '$229,024,295', '$655,945,209', '8', 'Oct 6, 2015', 'Spectre', '$300,000,000', '$200,074,175', '$879,620,923', '9', 'Dec 18, 2019', 'Star Wars: The Rise of Skywalker', '$275,000,000', '$515,202,542', '$1,070,285,296', '10', 'May 23, 2018', 'Solo: A Star Wars Story', '$275,000,000', '$213,767,512', '$393,151,347', '11', 'Mar 7, 2012', 'John Carter', '$263,700,000', '$73,058,679', '$282,778,100', '12', 'Mar 23, 2016', 'Batman v Superman: Dawn of Justice', '$263,000,000', '$330,360,194', '$873,634,919', '13', 'Jul 11, 2019', 'The Lion King', '$260,000,000', '$543,638,043', '$1,656,943,394', '14', 'Nov 24, 2010', 'Tangled', '$260,000,000', '$200,821,936', '$585,727,091', '15', 'May 4, 2007', 'Spider-Man 3', '$258,000,000', '$336,530,303', '$894,860,230', '16', 'Apr 22, 2016', 'Captain America: Civil War', '$250,000,000', '$408,084,349', '$1,153,284,349', '17', 'Jul 15, 2009', 'Harry Potter and the Half-Blood Prince', '$250,000,000', '$302,089,278', '$935,213,767', '18', 'Dec 13, 2013', 'The Hobbit: The Desolation of Smaug', '$250,000,000', '$258,241,522', '$960,241,522', '19', 'Dec 10, 2014', 'The Hobbit: The Battle of the Five Armies', '$250,000,000', '$255,119,788', '$945,577,621', '20', 'Apr 7, 2017', 'The Fate of the Furious', '$250,000,000', '$225,764,765', '$1,238,764,765', '21', 'Nov 12, 2020', 'No Time to Die', '$250,000,000', '$0', '$0', '22', 'Dec 17, 2009', 'Avatar', '$237,000,000', '$760,507,625', '$2,788,701,337', '23', 'Jun 28, 2006', 'Superman Returns', '$232,000,000', '$200,120,000', '$391,081,192', '24', 'Jul 19, 2012', 'The Dark Knight Rises', '$230,000,000', '$448,139,099', '$1,084,439,099', '25', 'May 23, 2017', 'Pirates of the Caribbean: Dead Men Tell No Tales', '$230,000,000', '$172,558,876', '$788,241,137', '26', 'Nov 14, 2008', 'Quantum of Solace', '$230,000,000', '$169,368,427', '$591,692,078', '27', 'Apr 25, 2012', 'The Avengers', '$225,000,000', '$623,357,910', '$1,518,812,988', '28', 'Jul 7, 2006', 'Pirates of the Caribbean: Dead Manâ\x80\x99s Chest', '$225,000,000', '$423,315,812', '$1,066,215,812', '29', 'Jun 14, 2013', 'Man of Steel', '$225,000,000', '$291,045,518', '$667,999,518', '30', 'May 16, 2008', 'The Chronicles of Narnia: Prince Caspian', '$225,000,000', '$141,621,490', '$417,341,288', '31', 'Jul 2, 2013', 'The Lone Ranger', '$225,000,000', '$89,302,115', '$260,002,115', '32', 'Jul 17, 2020', 'Tenet', '$224,000,000', '$0', '$0', '33', 'Jun 27, 2012', 'The Amazing Spider-Man', '$220,000,000', '$262,030,663', '$757,890,267', '34', 'Apr 11, 2012', 'Battleship', '$220,000,000', '$65,233,400', '$313,477,717', '35', 'Jun 20, 2017', 'Transformers: The Last Knight', '$217,000,000', '$130,168,683', '$602,893,340', '36', 'Jun 9, 2015', 'Jurassic World', '$215,000,000', '$652,270,625', '$1,670,400,637', '37', 'May 23, 2012', 'Men in Black 3', '$215,000,000', '$179,020,854', '$654,213,485', '38', 'Jun 24, 2009', 'Transformers: Revenge of the Fallen', '$210,000,000', '$402,111,870', '$836,519,699', '39', 'Jun 25, 2014', 'Transformers: Age of Extinction', '$210,000,000', '$245,439,076', '$1,104,054,072', '40', 'May 26, 2006', 'X-Men: The Last Stand', '$210,000,000', '$234,362,462', '$459,260,946', '41', 'May 14, 2010', 'Robin Hood', '$210,000,000', '$105,487,148', '$322,459,006', '42', 'Dec 14, 2005', 'King Kong', '$207,000,000', '$218,080,025', '$550,517,357', '43', 'Dec 7, 2007', 'The Golden Compass', '$205,000,000', '$70,107,728', '$367,262,558', '44', 'Feb 13, 2018', 'Black Panther', '$200,000,000', '$700,059,566', '$1,346,913,161', '45', 'Dec 19, 1997', 'Titanic', '$200,000,000', '$659,363,944', '$2,208,208,395', '46', 'Dec 13, 2017', 'Star Wars Ep. VIII: The Last Jedi', '$200,000,000', '$620,181,382', '$1,332,539,889', '47', 'Jun 15, 2018', 'Incredibles 2', '$200,000,000', '$608,581,744', '$1,242,805,359', '48', 'Dec 14, 2016', 'Rogue One: A Star Wars Story', '$200,000,000', '$532,177,324', '$1,056,057,273', '49', 'Jun 16, 2016', 'Finding Dory', '$200,000,000', '$486,295,561', '$1,028,570,889', '50', 'Jun 20, 2019', 'Toy Story 4', '$200,000,000', '$434,038,008', '$1,073,394,813', '51', 'Jun 18, 2010', 'Toy Story 3', '$200,000,000', '$415,004,880', '$1,068,879,522', '52', 'Apr 24, 2013', 'Iron Man 3', '$200,000,000', '$408,992,272', '$1,215,392,272', '53', 'Apr 28, 2017', 'Guardians of the Galaxy Vol 2', '$200,000,000', '$389,813,101', '$869,113,101', '54', 'Jun 30, 2004', 'Spider-Man 2', '$200,000,000', '$373,524,485', '$795,110,670', '55', 'Mar 5, 2010', 'Alice in Wonderland', '$200,000,000', '$334,191,110', '$1,025,491,110', '56', 'Oct 26, 2012', 'Skyfall', '$200,000,000', '$304,360,277', '$1,110,526,981', '57', 'Dec 11, 2012', 'The Hobbit: An Unexpected Journey', '$200,000,000', '$303,003,568', '$1,017,003,568', '58', 'Jun 21, 2013', 'Monsters University', '$200,000,000', '$268,488,329', '$743,588,329', '59', 'Mar 8, 2013', 'Oz the Great and Powerful', '$200,000,000', '$234,770,996', '$490,359,051', '60', 'May 21, 2014', 'X-Men: Days of Future Past', '$200,000,000', '$233,921,534', '$747,862,775', '61', 'Apr 16, 2014', 'The Amazing Spider-Man 2', '$200,000,000', '$202,853,933', '$708,996,336', '62', 'Jun 23, 2011', 'Cars 2', '$200,000,000', '$191,450,875', '$560,155,383', '63', 'Jul 31, 2019', 'Fast & Furious Presents: Hobbs & Shaw', '$200,000,000', '$173,956,935', '$760,582,290', '64', 'Dec 17, 2010', 'Tron: Legacy', '$200,000,000', '$172,062,763', '$400,062,763', '65', 'Nov 12, 2009', '2012', '$200,000,000', '$166,112,167', '$757,677,748', '66', 'Nov 14, 2018', 'Fantastic Beasts: The Crimes of Grindelwald', '$200,000,000', '$159,555,901', '$652,220,086', '67', 'May 21, 2009', 'Terminator Salvation', '$200,000,000', '$125,322,469', '$365,491,792', '68', 'Jun 17, 2011', 'Green Lantern', '$200,000,000', '$116,601,172', '$219,535,492', '69', 'May 28, 2010', 'Prince of Persia: Sands of Time', '$200,000,000', '$90,759,676', '$336,359,676', '70', 'Jun 5, 2019', 'Dark Phoenix', '$200,000,000', '$65,845,974', '$246,356,895', '71', 'Jun 29, 2011', 'Transformers: Dark of the Moon', '$195,000,000', '$352,390,543', '$1,123,794,079', '72', 'Jun 2, 2017', 'The Mummy', '$195,000,000', '$80,101,125', '$409,953,905', '73', 'Feb 27, 2013', 'Jack the Giant Slayer', '$195,000,000', '$65,187,603', '$197,687,603', '74', 'Apr 1, 2015', 'Furious 7', '$190,000,000', '$353,007,020', '$1,518,722,794', '75', 'May 16, 2013', 'Star Trek Into Darkness', '$190,000,000', '$228,778,661', '$467,381,584', '76', 'Jun 19, 2013', 'World War Z', '$190,000,000', '$202,359,711', '$531,514,650', '77', 'May 10, 2013', 'The Great Gatsby', '$190,000,000', '$144,840,419', '$353,640,419', '78', 'Nov 6, 2009', 'Disneyâ\x80\x99s A Christmas Carol', '$190,000,000', '$137,855,863', '$315,709,697', '79', 'Jul 11, 2013', 'Pacific Rim', '$190,000,000', '$101,802,906', '$411,002,906', '80', 'Nov 25, 2015', 'The Good Dinosaur', '$187,500,000', '$123,087,120', '$333,771,037', '81', 'May 2, 2008', 'Iron Man', '$186,000,000', '$318,604,126', '$585,171,547', '82', 'Jul 18, 2008', 'The Dark Knight', '$185,000,000', '$535,234,033', '$1,003,509,293', '83', 'May 22, 2008', 'Indiana Jones and the Kingdom of the Crystal Skull', '$185,000,000', '$317,101,119', '$786,635,413', '84', 'Jun 21, 2012', 'Brave', '$185,000,000', '$237,282,182', '$554,606,532', '85', 'Feb 23, 2017', 'Kong: Skull Island', '$185,000,000', '$168,052,812', '$561,072,059', '86', 'Jul 21, 2016', 'Star Trek Beyond', '$185,000,000', '$158,848,340', '$335,802,233', '87', 'Oct 17, 2019', 'Maleficent: Mistress of Evil', '$185,000,000', '$113,929,605', '$489,380,440', '88', 'Sep 29, 2017', 'Blade Runner 2049', '$185,000,000', '$92,054,159', '$259,357,408', '89', 'Oct 25, 2019', 'Terminator: Dark Fate', '$185,000,000', '$62,253,077', '$250,491,163', '90', 'May 22, 2019', 'Aladdin', '$182,000,000', '$355,559,216', '$1,050,959,216', '91', 'Oct 25, 2017', 'Thor: Ragnarok', '$180,000,000', '$315,058,289', '$853,958,289', '92', 'Dec 9, 2005', 'The Chronicles of Narnia: The Lion, the Witch a…', '$180,000,000', '$291,710,957', '$720,539,572', '93', 'May 28, 2014', 'Maleficent', '$180,000,000', '$241,407,328', '$758,536,735', '94', 'Nov 14, 2016', 'Fantastic Beasts and Where to Find Them', '$180,000,000', '$234,037,575', '$814,037,575', '95', 'Jun 27, 2008', 'WALL-E', '$180,000,000', '$223,808,164', '$532,508,025', '96', 'Aug 10, 2007', 'Rush Hour 3', '$180,000,000', '$140,125,968', '$256,585,882', '97', 'Jun 27, 2016', 'The Legend of Tarzan', '$180,000,000', '$126,643,061', '$348,902,025', '98', 'Nov 23, 2011', 'Hugo', '$180,000,000', '$73,864,507', '$180,047,784', '99', 'Jul 20, 2017', 'Valerian and the City of a Thousand Planets', '$180,000,000', '$40,479,370', '$215,098,356', '100', 'Feb 6, 2015', 'Jupiter Ascending', '$179,000,000', '$47,482,519', '$181,982,519']

In [242]:
new_list = []
for i in range(0, len(list_rows), 6):
    new_list.append(list_rows[i : i+6])

print(new_list)

[['1', 'Apr 23, 2019', 'Avengers: Endgame', '$400,000,000', '$858,373,000', '$2,797,800,564'], ['2', 'May 20, 2011', 'Pirates of the Caribbean: On Stranger Tides', '$379,000,000', '$241,063,875', '$1,045,663,875'], ['3', 'Apr 22, 2015', 'Avengers: Age of Ultron', '$365,000,000', '$459,005,868', '$1,403,013,963'], ['4', 'Dec 16, 2015', 'Star Wars Ep. VII: The Force Awakens', '$306,000,000', '$936,662,225', '$2,068,223,624'], ['5', 'Apr 25, 2018', 'Avengers: Infinity War', '$300,000,000', '$678,815,482', '$2,048,359,754'], ['6', 'May 24, 2007', 'Pirates of the Caribbean: At Worldâ\x80\x99s End', '$300,000,000', '$309,420,425', '$963,420,425'], ['7', 'Nov 13, 2017', 'Justice League', '$300,000,000', '$229,024,295', '$655,945,209'], ['8', 'Oct 6, 2015', 'Spectre', '$300,000,000', '$200,074,175', '$879,620,923'], ['9', 'Dec 18, 2019', 'Star Wars: The Rise of Skywalker', '$275,000,000', '$515,202,542', '$1,070,285,296'], ['10', 'May 23, 2018', 'Solo: A Star Wars Story', '$275,000,000', '$213,767,512', '$393,151,347'], ['11', 'Mar 7, 2012', 'John Carter', '$263,700,000', '$73,058,679', '$282,778,100'], ['12', 'Mar 23, 2016', 'Batman v Superman: Dawn of Justice', '$263,000,000', '$330,360,194', '$873,634,919'], ['13', 'Jul 11, 2019', 'The Lion King', '$260,000,000', '$543,638,043', '$1,656,943,394'], ['14', 'Nov 24, 2010', 'Tangled', '$260,000,000', '$200,821,936', '$585,727,091'], ['15', 'May 4, 2007', 'Spider-Man 3', '$258,000,000', '$336,530,303', '$894,860,230'], ['16', 'Apr 22, 2016', 'Captain America: Civil War', '$250,000,000', '$408,084,349', '$1,153,284,349'], ['17', 'Jul 15, 2009', 'Harry Potter and the Half-Blood Prince', '$250,000,000', '$302,089,278', '$935,213,767'], ['18', 'Dec 13, 2013', 'The Hobbit: The Desolation of Smaug', '$250,000,000', '$258,241,522', '$960,241,522'], ['19', 'Dec 10, 2014', 'The Hobbit: The Battle of the Five Armies', '$250,000,000', '$255,119,788', '$945,577,621'], ['20', 'Apr 7, 2017', 'The Fate of the Furious', '$250,000,000', '$225,764,765', '$1,238,764,765'], ['21', 'Nov 12, 2020', 'No Time to Die', '$250,000,000', '$0', '$0'], ['22', 'Dec 17, 2009', 'Avatar', '$237,000,000', '$760,507,625', '$2,788,701,337'], ['23', 'Jun 28, 2006', 'Superman Returns', '$232,000,000', '$200,120,000', '$391,081,192'], ['24', 'Jul 19, 2012', 'The Dark Knight Rises', '$230,000,000', '$448,139,099', '$1,084,439,099'], ['25', 'May 23, 2017', 'Pirates of the Caribbean: Dead Men Tell No Tales', '$230,000,000', '$172,558,876', '$788,241,137'], ['26', 'Nov 14, 2008', 'Quantum of Solace', '$230,000,000', '$169,368,427', '$591,692,078'], ['27', 'Apr 25, 2012', 'The Avengers', '$225,000,000', '$623,357,910', '$1,518,812,988'], ['28', 'Jul 7, 2006', 'Pirates of the Caribbean: Dead Manâ\x80\x99s Chest', '$225,000,000', '$423,315,812', '$1,066,215,812'], ['29', 'Jun 14, 2013', 'Man of Steel', '$225,000,000', '$291,045,518', '$667,999,518'], ['30', 'May 16, 2008', 'The Chronicles of Narnia: Prince Caspian', '$225,000,000', '$141,621,490', '$417,341,288'], ['31', 'Jul 2, 2013', 'The Lone Ranger', '$225,000,000', '$89,302,115', '$260,002,115'], ['32', 'Jul 17, 2020', 'Tenet', '$224,000,000', '$0', '$0'], ['33', 'Jun 27, 2012', 'The Amazing Spider-Man', '$220,000,000', '$262,030,663', '$757,890,267'], ['34', 'Apr 11, 2012', 'Battleship', '$220,000,000', '$65,233,400', '$313,477,717'], ['35', 'Jun 20, 2017', 'Transformers: The Last Knight', '$217,000,000', '$130,168,683', '$602,893,340'], ['36', 'Jun 9, 2015', 'Jurassic World', '$215,000,000', '$652,270,625', '$1,670,400,637'], ['37', 'May 23, 2012', 'Men in Black 3', '$215,000,000', '$179,020,854', '$654,213,485'], ['38', 'Jun 24, 2009', 'Transformers: Revenge of the Fallen', '$210,000,000', '$402,111,870', '$836,519,699'], ['39', 'Jun 25, 2014', 'Transformers: Age of Extinction', '$210,000,000', '$245,439,076', '$1,104,054,072'], ['40', 'May 26, 2006', 'X-Men: The Last Stand', '$210,000,000', '$234,362,462', '$459,260,946'], ['41', 'May 14, 2010', 'Robin Hood', '$210,000,000', '$105,487,148', '$322,459,006'], ['42', 'Dec 14, 2005', 'King Kong', '$207,000,000', '$218,080,025', '$550,517,357'], ['43', 'Dec 7, 2007', 'The Golden Compass', '$205,000,000', '$70,107,728', '$367,262,558'], ['44', 'Feb 13, 2018', 'Black Panther', '$200,000,000', '$700,059,566', '$1,346,913,161'], ['45', 'Dec 19, 1997', 'Titanic', '$200,000,000', '$659,363,944', '$2,208,208,395'], ['46', 'Dec 13, 2017', 'Star Wars Ep. VIII: The Last Jedi', '$200,000,000', '$620,181,382', '$1,332,539,889'], ['47', 'Jun 15, 2018', 'Incredibles 2', '$200,000,000', '$608,581,744', '$1,242,805,359'], ['48', 'Dec 14, 2016', 'Rogue One: A Star Wars Story', '$200,000,000', '$532,177,324', '$1,056,057,273'], ['49', 'Jun 16, 2016', 'Finding Dory', '$200,000,000', '$486,295,561', '$1,028,570,889'], ['50', 'Jun 20, 2019', 'Toy Story 4', '$200,000,000', '$434,038,008', '$1,073,394,813'], ['51', 'Jun 18, 2010', 'Toy Story 3', '$200,000,000', '$415,004,880', '$1,068,879,522'], ['52', 'Apr 24, 2013', 'Iron Man 3', '$200,000,000', '$408,992,272', '$1,215,392,272'], ['53', 'Apr 28, 2017', 'Guardians of the Galaxy Vol 2', '$200,000,000', '$389,813,101', '$869,113,101'], ['54', 'Jun 30, 2004', 'Spider-Man 2', '$200,000,000', '$373,524,485', '$795,110,670'], ['55', 'Mar 5, 2010', 'Alice in Wonderland', '$200,000,000', '$334,191,110', '$1,025,491,110'], ['56', 'Oct 26, 2012', 'Skyfall', '$200,000,000', '$304,360,277', '$1,110,526,981'], ['57', 'Dec 11, 2012', 'The Hobbit: An Unexpected Journey', '$200,000,000', '$303,003,568', '$1,017,003,568'], ['58', 'Jun 21, 2013', 'Monsters University', '$200,000,000', '$268,488,329', '$743,588,329'], ['59', 'Mar 8, 2013', 'Oz the Great and Powerful', '$200,000,000', '$234,770,996', '$490,359,051'], ['60', 'May 21, 2014', 'X-Men: Days of Future Past', '$200,000,000', '$233,921,534', '$747,862,775'], ['61', 'Apr 16, 2014', 'The Amazing Spider-Man 2', '$200,000,000', '$202,853,933', '$708,996,336'], ['62', 'Jun 23, 2011', 'Cars 2', '$200,000,000', '$191,450,875', '$560,155,383'], ['63', 'Jul 31, 2019', 'Fast & Furious Presents: Hobbs & Shaw', '$200,000,000', '$173,956,935', '$760,582,290'], ['64', 'Dec 17, 2010', 'Tron: Legacy', '$200,000,000', '$172,062,763', '$400,062,763'], ['65', 'Nov 12, 2009', '2012', '$200,000,000', '$166,112,167', '$757,677,748'], ['66', 'Nov 14, 2018', 'Fantastic Beasts: The Crimes of Grindelwald', '$200,000,000', '$159,555,901', '$652,220,086'], ['67', 'May 21, 2009', 'Terminator Salvation', '$200,000,000', '$125,322,469', '$365,491,792'], ['68', 'Jun 17, 2011', 'Green Lantern', '$200,000,000', '$116,601,172', '$219,535,492'], ['69', 'May 28, 2010', 'Prince of Persia: Sands of Time', '$200,000,000', '$90,759,676', '$336,359,676'], ['70', 'Jun 5, 2019', 'Dark Phoenix', '$200,000,000', '$65,845,974', '$246,356,895'], ['71', 'Jun 29, 2011', 'Transformers: Dark of the Moon', '$195,000,000', '$352,390,543', '$1,123,794,079'], ['72', 'Jun 2, 2017', 'The Mummy', '$195,000,000', '$80,101,125', '$409,953,905'], ['73', 'Feb 27, 2013', 'Jack the Giant Slayer', '$195,000,000', '$65,187,603', '$197,687,603'], ['74', 'Apr 1, 2015', 'Furious 7', '$190,000,000', '$353,007,020', '$1,518,722,794'], ['75', 'May 16, 2013', 'Star Trek Into Darkness', '$190,000,000', '$228,778,661', '$467,381,584'], ['76', 'Jun 19, 2013', 'World War Z', '$190,000,000', '$202,359,711', '$531,514,650'], ['77', 'May 10, 2013', 'The Great Gatsby', '$190,000,000', '$144,840,419', '$353,640,419'], ['78', 'Nov 6, 2009', 'Disneyâ\x80\x99s A Christmas Carol', '$190,000,000', '$137,855,863', '$315,709,697'], ['79', 'Jul 11, 2013', 'Pacific Rim', '$190,000,000', '$101,802,906', '$411,002,906'], ['80', 'Nov 25, 2015', 'The Good Dinosaur', '$187,500,000', '$123,087,120', '$333,771,037'], ['81', 'May 2, 2008', 'Iron Man', '$186,000,000', '$318,604,126', '$585,171,547'], ['82', 'Jul 18, 2008', 'The Dark Knight', '$185,000,000', '$535,234,033', '$1,003,509,293'], ['83', 'May 22, 2008', 'Indiana Jones and the Kingdom of the Crystal Skull', '$185,000,000', '$317,101,119', '$786,635,413'], ['84', 'Jun 21, 2012', 'Brave', '$185,000,000', '$237,282,182', '$554,606,532'], ['85', 'Feb 23, 2017', 'Kong: Skull Island', '$185,000,000', '$168,052,812', '$561,072,059'], ['86', 'Jul 21, 2016', 'Star Trek Beyond', '$185,000,000', '$158,848,340', '$335,802,233'], ['87', 'Oct 17, 2019', 'Maleficent: Mistress of Evil', '$185,000,000', '$113,929,605', '$489,380,440'], ['88', 'Sep 29, 2017', 'Blade Runner 2049', '$185,000,000', '$92,054,159', '$259,357,408'], ['89', 'Oct 25, 2019', 'Terminator: Dark Fate', '$185,000,000', '$62,253,077', '$250,491,163'], ['90', 'May 22, 2019', 'Aladdin', '$182,000,000', '$355,559,216', '$1,050,959,216'], ['91', 'Oct 25, 2017', 'Thor: Ragnarok', '$180,000,000', '$315,058,289', '$853,958,289'], ['92', 'Dec 9, 2005', 'The Chronicles of Narnia: The Lion, the Witch a…', '$180,000,000', '$291,710,957', '$720,539,572'], ['93', 'May 28, 2014', 'Maleficent', '$180,000,000', '$241,407,328', '$758,536,735'], ['94', 'Nov 14, 2016', 'Fantastic Beasts and Where to Find Them', '$180,000,000', '$234,037,575', '$814,037,575'], ['95', 'Jun 27, 2008', 'WALL-E', '$180,000,000', '$223,808,164', '$532,508,025'], ['96', 'Aug 10, 2007', 'Rush Hour 3', '$180,000,000', '$140,125,968', '$256,585,882'], ['97', 'Jun 27, 2016', 'The Legend of Tarzan', '$180,000,000', '$126,643,061', '$348,902,025'], ['98', 'Nov 23, 2011', 'Hugo', '$180,000,000', '$73,864,507', '$180,047,784'], ['99', 'Jul 20, 2017', 'Valerian and the City of a Thousand Planets', '$180,000,000', '$40,479,370', '$215,098,356'], ['100', 'Feb 6, 2015', 'Jupiter Ascending', '$179,000,000', '$47,482,519', '$181,982,519']]

In [352]:
columns =["id",'Release Date', "Movie", "Production Budget", "Domestic Gross", "Worldwide Gross"]

df0 = pd.DataFrame(new_list)
df0

,0,1,2,3,4,5
0,1,"Apr 23, 2019",Avengers: Endgame,"$400,000,000","$858,373,000","$2,797,800,564"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$379,000,000","$241,063,875","$1,045,663,875"
2,3,"Apr 22, 2015",Avengers: Age of Ultron,"$365,000,000","$459,005,868","$1,403,013,963"
3,4,"Dec 16, 2015",Star Wars Ep. VII: The Force Awakens,"$306,000,000","$936,662,225","$2,068,223,624"
4,5,"Apr 25, 2018",Avengers: Infinity War,"$300,000,000","$678,815,482","$2,048,359,754"
...,...,...,...,...,...,...
95,96,"Aug 10, 2007",Rush Hour 3,"$180,000,000","$140,125,968","$256,585,882"
96,97,"Jun 27, 2016",The Legend of Tarzan,"$180,000,000","$126,643,061","$348,902,025"
97,98,"Nov 23, 2011",Hugo,"$180,000,000","$73,864,507","$180,047,784"
98,99,"Jul 20, 2017",Valerian and the City of a Thousand Planets,"$180,000,000","$40,479,370","$215,098,356"
99,100,"Feb 6, 2015",Jupiter Ascending,"$179,000,000","$47,482,519","$181,982,519"

In [353]:
#dataframe
df0.columns = columns 
df0.drop(columns=['id'])

,Release Date,Movie,Production Budget,Domestic Gross,Worldwide Gross
0,"Apr 23, 2019",Avengers: Endgame,"$400,000,000","$858,373,000","$2,797,800,564"
1,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$379,000,000","$241,063,875","$1,045,663,875"
2,"Apr 22, 2015",Avengers: Age of Ultron,"$365,000,000","$459,005,868","$1,403,013,963"
3,"Dec 16, 2015",Star Wars Ep. VII: The Force Awakens,"$306,000,000","$936,662,225","$2,068,223,624"
4,"Apr 25, 2018",Avengers: Infinity War,"$300,000,000","$678,815,482","$2,048,359,754"
...,...,...,...,...,...
95,"Aug 10, 2007",Rush Hour 3,"$180,000,000","$140,125,968","$256,585,882"
96,"Jun 27, 2016",The Legend of Tarzan,"$180,000,000","$126,643,061","$348,902,025"
97,"Nov 23, 2011",Hugo,"$180,000,000","$73,864,507","$180,047,784"
98,"Jul 20, 2017",Valerian and the City of a Thousand Planets,"$180,000,000","$40,479,370","$215,098,356"
99,"Feb 6, 2015",Jupiter Ascending,"$179,000,000","$47,482,519","$181,982,519"

In [354]:
# if you want to operate on multiple columns, put them in a list like so:
cols = ['Worldwide Gross', 'Production Budget', 'Domestic Gross']

# pass them to df.replace(), specifying each char and it's replacement:
df0[cols] = df0[cols].replace({'\$': '', ',': ''}, regex=True)

df0

,id,Release Date,Movie,Production Budget,Domestic Gross,Worldwide Gross
0,1,"Apr 23, 2019",Avengers: Endgame,400000000,858373000,2797800564
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,379000000,241063875,1045663875
2,3,"Apr 22, 2015",Avengers: Age of Ultron,365000000,459005868,1403013963
3,4,"Dec 16, 2015",Star Wars Ep. VII: The Force Awakens,306000000,936662225,2068223624
4,5,"Apr 25, 2018",Avengers: Infinity War,300000000,678815482,2048359754
...,...,...,...,...,...,...
95,96,"Aug 10, 2007",Rush Hour 3,180000000,140125968,256585882
96,97,"Jun 27, 2016",The Legend of Tarzan,180000000,126643061,348902025
97,98,"Nov 23, 2011",Hugo,180000000,73864507,180047784
98,99,"Jul 20, 2017",Valerian and the City of a Thousand Planets,180000000,40479370,215098356
99,100,"Feb 6, 2015",Jupiter Ascending,179000000,47482519,181982519

In [355]:
df0.dtypes

id                   object
Release Date         object
Movie                object
Production Budget    object
Domestic Gross       object
Worldwide Gross      object
dtype: object

In [356]:
df0[['Production Budget', 'Domestic Gross', 'Worldwide Gross']] = df0[['Production Budget', 'Domestic Gross', 'Worldwide Gross']].astype(int)

df0

,id,Release Date,Movie,Production Budget,Domestic Gross,Worldwide Gross
0,1,"Apr 23, 2019",Avengers: Endgame,400000000,858373000,2797800564
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,379000000,241063875,1045663875
2,3,"Apr 22, 2015",Avengers: Age of Ultron,365000000,459005868,1403013963
3,4,"Dec 16, 2015",Star Wars Ep. VII: The Force Awakens,306000000,936662225,2068223624
4,5,"Apr 25, 2018",Avengers: Infinity War,300000000,678815482,2048359754
...,...,...,...,...,...,...
95,96,"Aug 10, 2007",Rush Hour 3,180000000,140125968,256585882
96,97,"Jun 27, 2016",The Legend of Tarzan,180000000,126643061,348902025
97,98,"Nov 23, 2011",Hugo,180000000,73864507,180047784
98,99,"Jul 20, 2017",Valerian and the City of a Thousand Planets,180000000,40479370,215098356
99,100,"Feb 6, 2015",Jupiter Ascending,179000000,47482519,181982519

In [357]:
df0['Profit'] = df0['Worldwide Gross'].astype(int) - df0['Production Budget'].astype(int)
df0['ROI %'] = df0['Profit']/df0['Production Budget']*100
df0

,id,Release Date,Movie,Production Budget,Domestic Gross,Worldwide Gross,Profit,ROI %
0,1,"Apr 23, 2019",Avengers: Endgame,400000000,858373000,2797800564,2397800564,599.450141
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,379000000,241063875,1045663875,666663875,175.900759
2,3,"Apr 22, 2015",Avengers: Age of Ultron,365000000,459005868,1403013963,1038013963,284.387387
3,4,"Dec 16, 2015",Star Wars Ep. VII: The Force Awakens,306000000,936662225,2068223624,1762223624,575.890073
4,5,"Apr 25, 2018",Avengers: Infinity War,300000000,678815482,2048359754,1748359754,582.786585
...,...,...,...,...,...,...,...,...
95,96,"Aug 10, 2007",Rush Hour 3,180000000,140125968,256585882,76585882,42.547712
96,97,"Jun 27, 2016",The Legend of Tarzan,180000000,126643061,348902025,168902025,93.834458
97,98,"Nov 23, 2011",Hugo,180000000,73864507,180047784,47784,0.026547
98,99,"Jul 20, 2017",Valerian and the City of a Thousand Planets,180000000,40479370,215098356,35098356,19.499087
99,100,"Feb 6, 2015",Jupiter Ascending,179000000,47482519,181982519,2982519,1.666212

In [358]:
df0['year'] = pd.DatetimeIndex(df0['Release Date']).year
df0.head()

,id,Release Date,Movie,Production Budget,Domestic Gross,Worldwide Gross,Profit,ROI %,year
0,1,"Apr 23, 2019",Avengers: Endgame,400000000,858373000,2797800564,2397800564,599.450141,2019
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,379000000,241063875,1045663875,666663875,175.900759,2011
2,3,"Apr 22, 2015",Avengers: Age of Ultron,365000000,459005868,1403013963,1038013963,284.387387,2015
3,4,"Dec 16, 2015",Star Wars Ep. VII: The Force Awakens,306000000,936662225,2068223624,1762223624,575.890073,2015
4,5,"Apr 25, 2018",Avengers: Infinity War,300000000,678815482,2048359754,1748359754,582.786585,2018

In [359]:
df0['title_year']= df0['Movie'] + " " + df0['year'].astype(str)
df0.head()

,id,Release Date,Movie,Production Budget,Domestic Gross,Worldwide Gross,Profit,ROI %,year,title_year
0,1,"Apr 23, 2019",Avengers: Endgame,400000000,858373000,2797800564,2397800564,599.450141,2019,Avengers: Endgame 2019
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,379000000,241063875,1045663875,666663875,175.900759,2011,Pirates of the Caribbean: On Stranger Tides 2011
2,3,"Apr 22, 2015",Avengers: Age of Ultron,365000000,459005868,1403013963,1038013963,284.387387,2015,Avengers: Age of Ultron 2015
3,4,"Dec 16, 2015",Star Wars Ep. VII: The Force Awakens,306000000,936662225,2068223624,1762223624,575.890073,2015,Star Wars Ep. VII: The Force Awakens 2015
4,5,"Apr 25, 2018",Avengers: Infinity War,300000000,678815482,2048359754,1748359754,582.786585,2018,Avengers: Infinity War 2018

### Do it for the loop

In [361]:
def scrape_machine(url):  
    df = pd.DataFrame([])
    try:
        response = requests.get(url)
        html = response.content
        soup = BeautifulSoup(html, "lxml")
        table = soup.find_all('td')
        rows = [row.text.strip().split("\n") for row in table]
        list_rows = sum(rows, [])
        new_list = []
        for i in range(0, len(list_rows), 6):
            new_list.append(list_rows[i : i+6])
        page = pd.DataFrame(new_list)
        df = df.append(page, sort=False )
        return df
    except ValueError:
        pass

In [371]:
url = 'https://www.the-numbers.com/movie/budgets/all/'

df_final = pd.DataFrame([])

for i in range(101,6001,100):
    df = scrape_machine(url+str(i))
    df_final = df_final.append(df)

In [370]:
df_final

,id,Release Date,Movie,Production Budget,Domestic Gross,Worldwide Gross,Profit,ROI %
0,101,"Jul 16, 2018",Mission: ImpossibleâFallout,400000000,858373000,2797800564,2397800564,599.450141
1,102,"May 18, 2016",X-Men: Apocalypse,379000000,241063875,1045663875,666663875,175.900759
2,103,"Aug 9, 2018",The Meg,365000000,459005868,1403013963,1038013963,284.387387
3,104,"May 28, 2014",Edge of Tomorrow,306000000,936662225,2068223624,1762223624,575.890073
4,105,"Mar 6, 2019",Captain Marvel,300000000,678815482,2048359754,1748359754,582.786585
...,...,...,...,...,...,...,...,...
95,"5,996","Dec 1, 2015",Dutch Kills,180000000,140125968,256585882,76585882,42.547712
96,"5,997","Aug 1, 1991",Slacker,180000000,126643061,348902025,168902025,93.834458
97,"5,998",Unknown,Dry Spell,180000000,73864507,180047784,47784,0.026547
98,"5,999","Jan 11, 2002",Steel Spirit,180000000,40479370,215098356,35098356,19.499087
99,"6,000",Unknown,Flywheel,179000000,47482519,181982519,2982519,1.666212

In [372]:
columns =["id",'Release Date', "Movie", "Production Budget", "Domestic Gross", "Worldwide Gross"]

df_final.columns = columns 
df_final

,id,Release Date,Movie,Production Budget,Domestic Gross,Worldwide Gross
0,101,"Jul 16, 2018",Mission: ImpossibleâFallout,"$178,000,000","$220,159,104","$787,456,552"
1,102,"May 18, 2016",X-Men: Apocalypse,"$178,000,000","$155,442,489","$542,537,546"
2,103,"Aug 9, 2018",The Meg,"$178,000,000","$145,443,742","$529,530,715"
3,104,"May 28, 2014",Edge of Tomorrow,"$178,000,000","$100,206,256","$370,541,256"
4,105,"Mar 6, 2019",Captain Marvel,"$175,000,000","$426,829,839","$1,129,729,839"
...,...,...,...,...,...,...
95,"5,996","Dec 1, 2015",Dutch Kills,"$25,000",$0,$0
96,"5,997","Aug 1, 1991",Slacker,"$23,000","$1,227,508","$1,227,508"
97,"5,998",Unknown,Dry Spell,"$22,000",$0,$0
98,"5,999","Jan 11, 2002",Steel Spirit,"$20,000","$1,860","$1,860"
99,"6,000",Unknown,Flywheel,"$20,000",$0,$0

In [376]:
df_final[['Production Budget', 'Domestic Gross', 'Worldwide Gross']] = df0[['Production Budget', 'Domestic Gross', 'Worldwide Gross']].astype(int)

df_final['Profit'] = df_final['Worldwide Gross'].astype(int) - df_final['Production Budget'].astype(int)
df_final['ROI %'] = df_final['Profit']/df_final['Production Budget']*100

df_final.head()

,id,Release Date,Movie,Production Budget,Domestic Gross,Worldwide Gross,Profit,ROI %
0,101,"Jul 16, 2018",Mission: ImpossibleâFallout,400000000,858373000,2797800564,2397800564,599.450141
1,102,"May 18, 2016",X-Men: Apocalypse,379000000,241063875,1045663875,666663875,175.900759
2,103,"Aug 9, 2018",The Meg,365000000,459005868,1403013963,1038013963,284.387387
3,104,"May 28, 2014",Edge of Tomorrow,306000000,936662225,2068223624,1762223624,575.890073
4,105,"Mar 6, 2019",Captain Marvel,300000000,678815482,2048359754,1748359754,582.786585

In [377]:
df_final['year'] = pd.DatetimeIndex(df_final['Release Date']).year

df_final['title_year']= df_final['Movie'] + " " + df_final['year'].astype(str)

df_final

ValueError: ('Unknown string format:', 'Unknown')

In [369]:
frames = [df0, df_final]

df_finalissima = pd.concat(frames)
df_finalissima

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

,Domestic Gross,Movie,Production Budget,Profit,ROI %,Release Date,Worldwide Gross,id,title_year,year
0,858373000,Avengers: Endgame,400000000,2397800564,599.450141,"Apr 23, 2019",2797800564,1,Avengers: Endgame 2019,2019.0
1,241063875,Pirates of the Caribbean: On Stranger Tides,379000000,666663875,175.900759,"May 20, 2011",1045663875,2,Pirates of the Caribbean: On Stranger Tides 2011,2011.0
2,459005868,Avengers: Age of Ultron,365000000,1038013963,284.387387,"Apr 22, 2015",1403013963,3,Avengers: Age of Ultron 2015,2015.0
3,936662225,Star Wars Ep. VII: The Force Awakens,306000000,1762223624,575.890073,"Dec 16, 2015",2068223624,4,Star Wars Ep. VII: The Force Awakens 2015,2015.0
4,678815482,Avengers: Infinity War,300000000,1748359754,582.786585,"Apr 25, 2018",2048359754,5,Avengers: Infinity War 2018,2018.0
...,...,...,...,...,...,...,...,...,...,...
95,140125968,Dutch Kills,180000000,76585882,42.547712,"Dec 1, 2015",256585882,"5,996",NaN,NaN
96,126643061,Slacker,180000000,168902025,93.834458,"Aug 1, 1991",348902025,"5,997",NaN,NaN
97,73864507,Dry Spell,180000000,47784,0.026547,Unknown,180047784,"5,998",NaN,NaN
98,40479370,Steel Spirit,180000000,35098356,19.499087,"Jan 11, 2002",215098356,"5,999",NaN,NaN
99,47482519,Flywheel,179000000,2982519,1.666212,Unknown,181982519,"6,000",NaN,NaN

In [ ]:
df_finalissima = df_finalissima[['id', 'Release Date', 'Movie' ]]

### Merge Oscars and The Movie TB

In [ ]:
df_merge_col = pd.merge(oscars, TMDB, on='title')

df_merge_col